# Cafe Transaction Data
---
* Import dependencies.

In [1]:
import pandas as pd
import numpy as np

In [2]:
cafe_data = pd.read_excel('CafeDataMBA_reloaded.xlsx')
cafe_data

,Date,Bill Number,Item Desc,Time,Quantity,Rate,Tax,Discount,Total,Category,day,Time Bucket,Month,Year,Column1,start,Bucket,Category2,Cost
0,2010-04-01,G0470115,QUA MINERAL WATER(1000ML),13:15:11,1,50,11.88,0,61.88,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,00:00:00,12 AM to 4 AM,BEVERAGE,33.333333
1,2010-04-01,G0470115,MONSOON MALABAR (AULAIT),13:15:11,1,100,23.75,0,123.75,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,04:00:00,4 AM to 8 AM,COFFEE,58.823529
2,2010-04-01,G0470116,MASALA CHAI CUTTING,13:17:35,1,40,9.50,0,49.50,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,08:00:00,8 AM to 12 PM,COFFEE,23.529412
3,2010-04-01,G0470117,QUA MINERAL WATER(1000ML),13:19:55,1,50,11.88,0,61.88,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,12:00:00,12 PM to 4 PM,BEVERAGE,33.333333
4,2010-04-01,G0470283,MOROCCAN MINT TEA,01:20:18,1,45,10.69,0,55.69,BEVERAGE,jueves,12 AM to 4 AM,4,2010,NaN,16:00:00,4 PM to 8 PM,TEA,25.000000
5,2010-04-01,G0470283,QUA MINERAL WATER(1000ML),01:20:18,1,50,11.88,0,61.88,BEVERAGE,jueves,12 AM to 4 AM,4,2010,NaN,20:00:00,8 PM to 12 AM,BEVERAGE,33.333333
6,2010-04-01,G0470118,MASALA CHAI CUTTING,13:21:34,1,40,9.50,0,49.50,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,NaN,NaN,COFFEE,23.529412
7,2010-04-01,G0470118,MOROCCAN MINT TEA,13:21:34,1,45,10.69,0,55.69,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,NaN,NaN,TEA,25.000000
8,2010-04-01,G0470284,CAPPUCCINO,01:29:38,1,60,14.25,0,74.25,BEVERAGE,jueves,12 AM to 4 AM,4,2010,NaN,NaN,NaN,COFFEE,35.294118
9,2010-04-01,G0470285,MOROCCAN MINT TEA,01:29:46,1,45,10.69,0,55.69,BEVERAGE,jueves,12 AM to 4 AM,4,2010,NaN,NaN,NaN,TEA,25.000000
10,2010-04-01,G0470285,SUMATRA MANDHELING (REG),01:29:46,1,95,22.56,0,117.56,BEVERAGE,jueves,12 AM to 4 AM,4,2010,NaN,NaN,NaN,COFFEE,55.882353
11,2010-04-01,G0470285,BRAZIL BOURBONSANTOS (AULAIT),01:29:46,1,115,27.31,0,142.31,BEVERAGE,jueves,12 AM to 4 AM,4,2010,NaN,NaN,NaN,COFFEE,67.647059
12,2010-04-01,G0470120,LEMON ICED TEA,13:36:33,1,85,20.19,0,105.19,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,NaN,NaN,TEA,47.222222
13,2010-04-01,G0470122,COUNTRY LEMONADE,13:42:05,1,85,20.19,0,105.19,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,NaN,NaN,BEVERAGE,56.666667
14,2010-04-01,G0470122,LEMON ICED TEA,13:42:05,2,85,40.38,0,210.38,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,NaN,NaN,TEA,47.222222
15,2010-04-01,G0470127,CAPPUCCINO,14:02:15,1,60,14.25,0,74.25,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,NaN,NaN,COFFEE,35.294118
16,2010-04-01,G0470128,QUA MINERAL WATER(1000ML),14:02:35,1,50,11.88,0,61.88,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,NaN,NaN,BEVERAGE,33.333333
17,2010-04-01,G0470133,CAPPUCCINO,14:21:32,2,60,28.50,0,148.50,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,NaN,NaN,COFFEE,35.294118
18,2010-04-01,G0470139,QUA MINERAL WATER(1000ML),14:53:24,1,50,11.88,0,61.88,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,NaN,NaN,BEVERAGE,33.333333
19,2010-04-01,G0470140,MIAMI MELONS,14:54:32,1,85,20.19,0,105.19,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,NaN,NaN,BEVERAGE,56.666667
20,2010-04-01,G0470141,CAFFE LATTE,15:08:58,1,70,16.63,0,86.63,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,NaN,NaN,COFFEE,41.176471
21,2010-04-01,G0470141,CAPPUCCINO,15:08:58,2,60,28.50,0,148.50,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,NaN,NaN,COFFEE,35.294118
22,2010-04-01,G0470142,COUNTRY LEMONADE,15:09:07,1,85,20.19,0,105.19,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,NaN,NaN,BEVERAGE,56.666667
23,2010-04-01,G0470145,COUNTRY LEMONADE,15:39:18,1,85,20.19,0,105.19,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,NaN,NaN,BEVERAGE,56.666667
24,2010-04-01,G0470146,RED BULL ENERGY DRINK,15:48:25,1,125,29.69,0,154.69,BEVERAGE,jueves,12 PM to 4 PM,4,2010,NaN,NaN,NaN,BEVERAGE,83.333333
25,2010-04-01,G0470148,BRAZIL BOURBONSANTOS (REG),16:06:01,1,95,22.56,0,117.56,BEVERAGE,jueves,4 PM to 8 PM,4,2010,NaN,NaN,NaN,COFFEE,55.882353
26,2010-04-01,G0470149,DOPPIO,16:07:55,1,60,14.25,0,74.25,BEVERAGE,jueves,4 PM to 8 PM,4,2010,NaN,NaN,NaN,COFFEE,35.294118
27,2010-04-01,G0470153,CAFFE LATTE,16:15:45,1,70,16.63,0,86.63,BEVERAGE,jueves,4 PM to 8 PM,4,2010,NaN,NaN,NaN,COFFEE,41.176471
28,2010-04-01,G0470154,PINK LEMONADE,16:15:50,1,85,20.19,0,105.19,BEVERAGE,jueves,4 PM to 8 PM,4,2010,NaN,NaN,NaN,BEVERAGE,56.666667
29,2010-04-01,G0470156,CAPPUCCINO,16:16:40,1,60,14.25,0,74.25,BEVERAGE,jueves,4 PM to 8 PM,4,2010,NaN,NaN,NaN,COFFEE,35.294118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145800,2011-02-25,N0033492,WHITE SANGRIA (GLS)áááá áááááá,00:57:01,1,175,45.50,0,220.50,LIQUOR,viernes,12 AM to 4 AM,5,2011,NaN,NaN,NaN,WINES,58.333333
145801,2010-04-25,N0028289,WHITE SANGRIA (GLS)áááá áááááá,13:53:17,1,175,45.50,0,220.50,LIQUOR,domingo,12 PM to 4 PM,4,2010,NaN,NaN,NaN,WINES,58.333333
145802,2010-05-26,N0028780,WHITE SANGRIA (GLS)áááá áááááá,21:58:31,1,175,45.50,0,220.50,LIQUOR,miércoles,8 PM to 12 AM,6,2010,NaN,NaN,NaN,WINES,58.333333
145803,2010-11-26,N0031644,WHITE SANGRIA (GLS)áááá áááááá,16:06:25,1,175,45.50,0,220.50,LIQUOR,viernes,4 PM to 8 PM,6,2010,NaN,NaN,NaN,WINES,58.333333
145804,2010-12-28,N0032407,WHITE SANGRIA (GLS)áááá áááááá,21:50:35,1,175,45.50,0,220.50,LIQUOR,martes,8 PM to 12 AM,6,2010,NaN,NaN,NaN,WINES,58.333333
145805,2011-01-29,N0033015,WHITE SANGRIA (GLS)áááá áááááá,00:05:32,1,175,45.50,0,220.50,LIQUOR,sábado,12 AM to 4 AM,5,2011,NaN,NaN,NaN,WINES,58.333333
145806,2010-05-29,N0028849,WHITE SANGRIA (GLS)áááá áááááá,23:11:29,1,175,45.50,0,220.50,LIQUOR,sábado,8 PM to 12 AM,5,2010,NaN,NaN,NaN,WINES,58.333333
145807,2010-09-29,N0030759,WHITE SANGRIA (GLS)áááá áááááá,22:43:23,2,175,91.00,0,441.00,LIQUOR,miércoles,8 PM to 12 AM,5,2010,NaN,NaN,NaN,WINES,58.333333
145808,2010-11-30,N0031733,WHITE SANGRIA (GLS)áááá áááááá,21:34:54,2,175,91.00,0,441.00,LIQUOR,martes,8 PM to 12 AM,4,2010,NaN,NaN,NaN,WINES,58.333333
145809,2010-12-30,N0032455,WHITE SANGRIA (GLS)áááá áááááá,22:10:50,1,175,45.50,0,220.50,LIQUOR,jueves,8 PM to 12 AM,5,2010,NaN,NaN,NaN,WINES,58.333333
145810,2010-07-31,N0029786,WHITE SANGRIA (GLS)áááá áááááá,18:38:26,1,175,45.50,0,220.50,LIQUOR,sábado,4 PM to 8 PM,4,2010,NaN,NaN,NaN,WINES,58.333333
145811,2010-06-06,N0028955,ZINZI RED (GLS),20:55:01,1,150,39.00,0,189.00,LIQUOR,domingo,8 PM to 12 AM,7,2010,NaN,NaN,NaN,WINES,50.000000
145812,2010-05-16,N0028643,ZINZI RED (GLS),23:12:37,1,150,39.00,0,189.00,LIQUOR,domingo,8 PM to 12 AM,1,2010,NaN,NaN,NaN,WINES,50.000000
145813,2010-05-23,N0028741,ZINZI RED (GLS),22:44:29,1,150,39.00,0,189.00,LIQUOR,domingo,8 PM to 12 AM,1,2010,NaN,NaN,NaN,WINES,50.000000
145814,2010-05-23,N0028742,ZINZI RED (GLS),22:59:31,1,150,39.00,0,189.00,LIQUOR,domingo,8 PM to 12 AM,1,2010,NaN,NaN,NaN,WINES,50.000000
145815,2010-05-24,N0028754,ZINZI RED (GLS),01:08:06,1,150,39.00,0,189.00,LIQUOR,lunes,12 AM to 4 AM,1,2010,NaN,NaN,NaN,WINES,50.000000
145816,2010-04-27,N0028347,ZINZI RED (GLS),00:19:00,1,150,39.00,0,189.00,LIQUOR,martes,12 AM to 4 AM,1,2010,NaN,NaN,NaN,WINES,50.000000
145817,2010-05-29,N0028860,ZINZI RED (GLS),01:20:13,1,150,39.00,0,189.00,LIQUOR,sábado,12 AM to 4 AM,1,2010,NaN,NaN,NaN,WINES,50.000000
145818,2010-05-29,N0028850,ZINZI RED (GLS),23:12:22,1,150,39.00,0,189.00,LIQUOR,sábado,8 PM to 12 AM,1,2010,NaN,NaN,NaN,WINES,50.000000
145819,2010-04-30,N0028399,ZINZI RED (GLS),23:44:37,1,150,39.00,0,189.00,LIQUOR,viernes,8 PM to 12 AM,1,2010,NaN,NaN,NaN,WINES,50.000000
145820,2010-06-08,N0028991,ZINZI WHITE (GLS),01:09:11,2,150,78.00,0,378.00,LIQUOR,martes,12 AM to 4 AM,1,2010,NaN,NaN,NaN,WINES,50.000000
145821,2010-06-08,N0028977,ZINZI WHITE (GLS),10:41:38,1,150,39.00,0,189.00,LIQUOR,martes,8 AM to 12 PM,1,2010,NaN,NaN,NaN,WINES,50.000000
145822,2010-06-10,N0029010,ZINZI WHITE (GLS),01:00:53,2,150,78.00,0,378.00,LIQUOR,jueves,12 AM to 4 AM,1,2010,NaN,NaN,NaN,WINES,50.000000
145823,2010-05-18,N0028656,ZINZI WHITE (GLS),16:52:21,1,150,39.00,0,189.00,LIQUOR,martes,4 PM to 8 PM,1,2010,NaN,NaN,NaN,WINES,50.000000
145824,2010-05-19,N0028669,ZINZI WHITE (GLS),17:06:10,1,150,39.00,0,189.00,LIQUOR,miércoles,4 PM to 8 PM,1,2010,NaN,NaN,NaN,WINES,50.000000
145825,2010-05-22,N0028716,ZINZI WHITE (GLS),21:43:55,2,150,78.00,0,378.00,LIQUOR,sábado,8 PM to 12 AM,1,2010,NaN,NaN,NaN,WINES,50.000000
145826,2010-04-27,N0028343,ZINZI WHITE (GLS),20:52:11,2,150,78.00,0,378.00,LIQUOR,martes,8 PM to 12 AM,1,2010,NaN,NaN,NaN,WINES,50.000000
145827,2010-05-28,N0028835,ZINZI WHITE (GLS),01:03:37,3,150,117.00,0,567.00,LIQUOR,viernes,12 AM to 4 AM,1,2010,NaN,NaN,NaN,WINES,50.000000
145828,2010-04-30,N0028399,ZINZI WHITE (GLS),23:44:37,1,150,39.00,0,189.00,LIQUOR,viernes,8 PM to 12 AM,1,2010,NaN,NaN,NaN,WINES,50.000000
145829,2010-07-09,N0029472,ZINZI WHITE (BTL),00:31:51,1,700,182.00,0,882.00,LIQUOR,viernes,12 AM to 4 AM,1,2010,NaN,NaN,NaN,WINES,233.333333

In [3]:
cafe_data.columns

Index(['Date', 'Bill Number ', 'Item Desc', 'Time', 'Quantity', 'Rate', 'Tax',
       'Discount', 'Total', 'Category', 'day', 'Time Bucket', 'Month', 'Year',
       'Column1', 'start', 'Bucket', 'Category2', 'Cost'],
      dtype='object')

* Rename Columns.

In [4]:
cafe_data = cafe_data.rename(columns={'Bill Number ':'BillNumber',
                                      'Item Desc':'Description',
                                      'day':'Day',
                                      'Time Bucket':'TimeBucket'})

In [5]:
cafe_data.columns

Index(['Date', 'BillNumber', 'Description', 'Time', 'Quantity', 'Rate', 'Tax',
       'Discount', 'Total', 'Category', 'Day', 'TimeBucket', 'Month', 'Year',
       'Column1', 'start', 'Bucket', 'Category2', 'Cost'],
      dtype='object')

* Drop unnecessary information (not columns).

Drop information, apparently columns, which are just tip information of the Bucket Time to understand what the TimeBucket column is.

In [6]:
cafe_data = cafe_data.drop(['Column1', 'start', 'Bucket'], axis=1)
cafe_data.columns

Index(['Date', 'BillNumber', 'Description', 'Time', 'Quantity', 'Rate', 'Tax',
       'Discount', 'Total', 'Category', 'Day', 'TimeBucket', 'Month', 'Year',
       'Category2', 'Cost'],
      dtype='object')

* Check for possible missing values.

In [7]:
cafe_data.count()

Date           145830
BillNumber     145830
Description    145830
Time           145830
Quantity       145830
Rate           145830
Tax            145830
Discount       145830
Total          145830
Category       145830
Day            145830
TimeBucket     145830
Month          145830
Year           145830
Category2      145830
Cost           145830
dtype: int64

In [8]:
cafe_data['Description'].value_counts().head(10)

NIRVANA HOOKAH SINGLE                   8553
MINT FLAVOUR SINGLE                     5817
CAPPUCCINO                              5495
GREAT LAKES SHAKE                       4895
SAMBUCA                                 4425
POUTINE WITH FRIES                      3464
QUA  MINERAL WATER(1000ML)              3331
CALCUTTA MINT                           3318
JR.CHL AVALANCHE                        3314
B.M.T. PANINI                           2724
Name: Description, dtype: int64

In [9]:
cafe_data['Description'].unique()

array(['QUA  MINERAL WATER(1000ML)    ', 'MONSOON MALABAR (AULAIT)      ',
       'MASALA CHAI CUTTING           ', 'MOROCCAN MINT TEA             ',
       'CAPPUCCINO                    ', 'SUMATRA MANDHELING (REG)      ',
       'BRAZIL BOURBONSANTOS (AULAIT) ', 'LEMON ICED TEA                ',
       'COUNTRY LEMONADE              ', 'MIAMI MELONS                  ',
       'CAFFE LATTE                   ', 'RED BULL ENERGY DRINK         ',
       'BRAZIL BOURBONSANTOS (REG)    ', 'DOPPIO                        ',
       'PINK LEMONADE                 ', 'BLACK CURRANT ICED TEA        ',
       'CURRANT COOLER                ', 'CHAI LATTE                    ',
       'GREAT LAKES CREAM                   ',
       'ULTIMATE HOT CHOCOLATE        ', 'ORANGINA  (250ML)             ',
       'EARL GREY                     ', 'COOKIE CRUMBLE                ',
       'STRAWBERRY ICED TEA           ', 'BERRY BLAST                   ',
       'COOL CALIFORNICA              ', 'ADD HAZELNUT FLAVOUR          ',
       'THE CHOCO LATTE               ', 'COSTARICA TARRAZU (REG)       ',
       'HOUSEBLEND FULLCITY (AU LAIT) ', 'JAMAICAN BLUE MT (AU LAIT)    ',
       'SPANISH OMELETTE BREAKFAST    ', 'GOOEY CHOCOLATE FUDGE         ',
       'JR.CHL AVALANCHE              ', 'VERTIGO                       ',
       'HERBED GARDEN PIE             ', 'GARDEN FRESH PANINI           ',
       'SATAY CHICKEN PANINI          ', 'COUNTRY ROAST CHICKEN PANINI  ',
       'B.M.T. PANINI                 ', 'VEG. CLUB WRAP                ',
       'GREAT LAKES SHAKE                   ',
       'KIT KAT SHAKE                 ', 'KHEEMA GHOTALA                ',
       'CAESARS SALAD WRAP            ', 'STRAWBERRY CHEESECAKE SHAKE   ',
       'TOBLERONE SHAKE               ', 'ADD FRIES                     ',
       'NON-VEG CLUB WRAP             ', 'SNICKER BAR SHAKE             ',
       'THAT CHOCOLATE THING......... ', 'BLACK FOREST SHAKE            ',
       'MAGGI NDL ARRABIATA           ', 'MEZE PLATTER                  ',
       'POUTINE WITH FRIES            ', 'OREO COOKIE SHAKE             ',
       'LAVA LAVA                     ', 'CHEESE CAKE OF THE WEEK       ',
       'LINDT CHOCOLATE SHAKE         ', 'MAGGI NDLCREAM/ CHEE/GARLIC   ',
       'PHILLYCREAM CHEESE &CHILLY PAN', 'BANANA WALNUT MUFFIN          ',
       'CHICKEN SALAMI PANINI         ', 'SCRAMBLED EGGS                ',
       'MT. BROWNIE                   ', 'SEASONAL FRUITPIE (LOWCAL)    ',
       'COTTAGE CHEESE PANINI         ', 'DUTCH TRUFFLE CAKE SHAKE      ',
       'POUTINE WITH WEDGES           ', 'MAGGI NDLTHAI STYLE           ',
       'THE GREAT INDIAN WRAP         ', 'ROCKY ROAD SHAKE              ',
       'BAILEYS IRISH SHAKE           ', 'ITALIAN OMELETTE BREAKFAST    ',
       'CARLSBERG                     ', 'TUBORG                        ',
       'FLAVORS (100 GMS)             ', 'MUGS WITH CIRCLE DESIGN       ',
       'MINT FLAVOUR SINGLE           ', 'NIRVANA HOOKAH SINGLE         ',
       'RED WINE SHEESHA              ', 'RABAT HOOKAH SINGLE           ',
       'SAMBUCA                       ', 'N R G  HOOKAH                 ',
       'CALCUTTA MINT                 ', 'SILVER APPLE SINGLE           ',
       'GREEN APPLE FLAVOUR SINGLE    ', 'MISCHIEF HOOKAH SINGLE        ',
       'GRAPE FLAVOUR SINGLE          ', 'BLUE BERRY SINGLE             ',
       'THE  CHAMPAGNE SHEESHA        ', 'AL SIKANDARI HOOKAH SINGLE    ',
       'APPLE FLAVOUR SINGLE          ', 'WHITE WINE SHEESHA            ',
       '1 AXE TWIST                   ', '1+1 BTL4 SEASON WHITE         ',
       '1+1 GLS 4SEASON RED           ', '1+1 GLS 4SEASONS WHITE        ',
       '1+1 KF 1 LITER                ', 'IRISH COFFEE                  ',
       'JAMAICAN BLUE MT (REG)        ', 'SUMATRA MANDHELING (AULAIT)   ',
       'QUA  MINERAL WATER(500ML)     ', 'TROPICAL SMOOTHIE             ',
       'ADD VANILLA FLAVOUR           ', 'ESPRESSO                      ',
       'GREAT LAKES FLOATS W CHOC           ',
       'GREAT LAKES FLOAT W VANILLA         ',
       'COOKIE MONSTER                ', 'THE FERROR ROCHER SHAKE       ',
       'BUN MASKA & CHAI              ', 'CHUNKY CHOCO CHIP COOKIES     ',
       'HASH BROWN OMELETTE           ', 'SUNSHINE SHAKE                ',
       'SR.CHL AVALANCHE              ', 'JUICE HOOKAH SINGLE           ',
       '1+1 KF 1/2 LITER              ', 'COSTARICA TARAZU (AULAIT)     ',
       'CHAMOMILE TEA                 ', 'TIRAMISU                      ',
       'APPLE PIE SHAKE               ', 'CLASSIC BELGIAN  WAFFLE       ',
       'KF DRAUGHT (1/2LTR)           ', 'KF DRAUGHT (1LTR)             ',
       'DAIRY OF A DAIRY              ', 'GOA GIRLS SHOT GLASS          ',
       'CLASSIC MILD                  ', 'STRAWBERRY FLAVOUR SINGLE     ',
       'SULA BLUSH ZINFANDEL(GLS)     ', 'SULA BRUT (BTL)               ',
       'KENYA AA (AULAIT)             ', 'COLUMBIAN SUPREMO  (REG)      ',
       'THANK GOD ITS A SUNDAE        ', 'HERBED CHICKEN PIE            ',
       'STUFFED MUSHROOM              ', 'STELLA ARTOIS (GLS)           ',
       'HOEGAARDEN MUG (1 LITRE)      ', 'VLN CAB SAUV (GLS)            ',
       'GREAT LAKES-JAVA BLEND (AULAIT)     ',
       'LINDT HOT CHOCOLATE           ', 'MONSOON MALABAR (REG)         ',
       'INDIAN PEABERRY (REG)         ', 'COLUMBIAN SUP DCAFE (AU LAIT) ',
       'INDIAN PEABERRY (AULAIT)      ', 'APPLE CINNAMON MUFFIN         ',
       'BEAN N NACHO CHILLI           ', 'ADD CHICKEN                   ',
       'KF DRAUGHT PITCHER (2LTR)     ', 'TREE DIARY                    ',
       'CH NOTE BOOKS                 ', 'CH TINS                       ',
       'LEMON FLAVOUR SINGLE          ', 'LATE HARVEST SULA CHENIN (BTL)',
       'PEACH FLAVOUR SINGLE          ', 'VLN SAUV BLANC (GLS)          ',
       'SANGRIA ROSE (GLS)            ', 'VLN CAB SAUV CLASIQ (BTL)     ',
       '1+1 KF 2 LITER                ', '1+1 VLN CAB SAUV (BTL)        ',
       '1+1 VLN CAB SAUV (GLS)        ', '1+1 VLN CAB SAUV CLASIQ (BTL) ',
       '1+1 VLN CAB SAUV CLASIQ (GLS) ', '1+1 VLN CHENIN BLANC (GLS)    ',
       'GREAT LAKES-JAVA BLEND (REG)        ',
       'ADD CARAMEL FLAVOUR           ', 'HOUSEBLEND FULLCITY (REG)     ',
       'CH KEY CHAIN                  ', '1+1 VLN SAUV BLANC (BTL)      ',
       '1+1 VLN SAUV BLANC (GLS)      ', '1+1 WINE BOTTLE               ',
       '1+1 WINE GLASS                ', 'CON PANNA                     ',
       'ETHOPIAN YIRGACHEFFE (AULAIT) ', 'KENYA AA  (REG)               ',
       'COLUMBIAN SUP DCAFE (RGLR)    ', 'BEER TANK 3.5 LITRE           ',
       'STELLA ARTOIS MUG (1 LTR)     ', 'STELLA ARTOIS MUG (1/2 LTR)   ',
       'THUNDER THIGH(JUICE GLS) BLACK', 'MARRAKESH HOOKAH SINGLE       ',
       '2 AXE TWIST                   ', '2 OCEAN PINOTAGE (BTL)        ',
       '3COURSE NON-VEG MEAL          ', '3COURSE VEG MEAL              ',
       '4 SEASONS CLAS SAUV(BTL)      ', '4 SEASONS CLAS SAUV(GLS       ',
       'ADD CINNAMON FLAVOUR          ', 'ETHIOPIAN YIRGACHEFFE (REG)   ',
       'HAWAIIAN KONA FANCY(REG)      ', 'CHERRY FLAVOUR SINGLE         ',
       'SANGRIA ROSE (CARAFE)         ', '4 SEASONS CLAS SYRAH(BTL)     ',
       '4 SEASONS CLAS SYRAH(GLS)     ', 'ADD CHICKEN BACON             ',
       'ADD GROUND MEAT               ', 'ADD HERB ROAST CHICKEN        ',
       'COLUMBIAN SUPREMO (AULAIT)    ',
       'YEMENI GREAT LAKES (REG)            ',
       'HOEGAARDEN (GLS)              ', 'MUGS - STRIPE PLAIN           ',
       'VLN CHENIN BLANC (GLS)        ', 'ROCKSTAR TOOTHPICK HOLDER     ',
       'JAVA ESTATES (AULAIT)         ', 'NEW ORLEANS BLUE  (AULAIT)    ',
       'HOUSE BLEND DECAFF (REG)      ',
       'GREAT LAKES T-SHIRTS                ',
       'BENSON & HEDGES LIGHTS        ', 'ORANGE FLAVOUR SINGLE         ',
       'ADD ON S                      ', 'CHICKEN KIBBEH                ',
       'MUGS - FLAMES                 ', 'ADD WHIPPED CREAM             ',
       'GRILLED CHICKEN SAUSAGES      ', 'ANDAMAN STRIPE                ',
       'MUMBAI SHOT GLASSES           ', 'VLN CAB SAUV CLASIQ (GLS)     ',
       'VLN CAB SAUV (BTL)            ', 'MUGS - PLAIN COLOUR           ',
       'MM DAIRY GRAMAPHONE           ', 'SANDASS                       ',
       'ZERO SIZE SHOT GLS            ', 'MODEL-P (IRON ASHTRAY)        ',
       'CLASSIC MENTHOL               ', 'ADD POTATO WEDGES             ',
       'ADD TRADITIONAL MEAT FEAST    ', 'AFRICAN OMELETTE BREAKFAST    ',
       'AL SIKANDARI HOOKAH DOUBLE    ', 'ALIO AGLIO                    ',
       'APPLE FLAVOUR DOUBLE          ', 'APPLE N CINNAMON CREPES       ',
       'MUGS - TALL PLAIN             ', 'APRICOT FLAVOUR SINGLE        ',
       'ARABIAN MIST                  ', 'CASABLANKA  HOOKAH SINGLE     ',
       'GOLD FLAKE KING RED           ', 'BOTTLED WATER (1LITRE)        ',
       'OATMEAL AND RAISIN COOKIES    ', 'CH BOOKMARKS SET OF 4         ',
       'GOLD FLAKE KING BLUE          ', 'VLN SAUV BLANC (BTL)          ',
       'SULA BLUSH ZINFANDEL (BTL)    ', 'HAWAIIAN KONA FANCY (AU LAIT) ',
       'MUGS - TOP BOTTOM             ', 'RULER DIARY                   ',
       'BENSON & HEDGES SPL           ',
       'YEMENI GREAT LAKES (AULAIT)         ',
       'CUTTING GLASS                 ', 'TIFFIN DABBA CD RACK (SMALL)  ',
       'NEW ORLEANS BLUE (REG)        ', 'THUNDER THIGH(JUICE GLS) RED  ',
       'LOTUS TEA LIGHT HOLDER        ', 'LASSI DA GLASS                ',
       'GREAT LAKES ORGANISER               ',
       'MUGS - DOTS                   ', 'GUERILLA COOL                 ',
       'LATE HARVEST SULA CHENIN (GLS)', 'JAVA ESTATES (REG)            ',
       'MAHATMA COOL                  ', 'MADIBA COOL                   ',
       'ADD IRISH CREAM FLAVOUR       ', 'KONKAN STRIPE                 ',
       'HOEGAARDEN MUG (1/2 LITRE)    ', 'DAARU BEER GLASS              ',
       'ASIAN WOK TOSSED SALAD        ', 'ASSORTED TAPAS (2)NONVEG      ',
       'ASSORTED TAPAS(2 )VEG         ', 'B1G1 4SEASON CLAS SAUV(BTL)   ',
       'B1G1 4SEASON CLAS SAUV(GLS)   ', 'B1G1 4SEASON CLAS SYRAH(GLS)  ',
       'B1G1 ZINZI RED (BTL)          ', 'B1G1 ZINZI RED (GLS)          ',
       'B1G1 ZINZI WHITE (BTL)        ', 'B1G1 ZINZI WHITE (GLS)        ',
       'BANGERS N MASH                ', 'PLAYING CARDS                 ',
       'B-BEANS G-TOMATO & WEDGES     ', 'BBQ CHICKEN WINGS             ',
       'BEANS NACHO CHILLI W MEAT     ', 'BERRY BULL                    ',
       'DIP BOWL                      ', 'BLACK FOREST CREPES           ',
       'BLACKENED BALTI CHICKEN CRUSTI', 'GUATEMALA ANTIGUA (AULAIT)    ',
       'BLUE BERRY MUFFINS            ', 'BLUEBERRY BRAIN FREEZER SHAKE ',
       'CH COFFEE MUGS                ', 'NAPKIN STAND                  ',
       'COOLER GLASS(PILSNER)         ', 'CLASSIC MENTHOL RUSH          ',
       'HOUSE BLEND DE CAFFE (AU LAIT)', 'AU LAIT SET                   ',
       'ZEN ROCK SQUARE VASE          ', 'BUNUELOS DE CHIRIZO           ',
       'FLAVOR  50 GMS                ', 'MUGS - PATTERN                ',
       'RECESSION BEER MUG SHOT GLS   ', 'BUTTER MILK PAN CAKES         ',
       'BENARAS GREEN                 ', 'JAIPUR LILY                   ',
       'BUTTERED TOASTS               ', 'C C C ROMA TOMATO SALAD       ',
       'JODHPUR LILY                  ', 'JAISALMER LILY                ',
       'CAFE ZABAGLIONE               ', 'CAJUN CHICKEN CRUSTINI        ',
       'CALAMARI FRITO                ', 'CAPONATA                      ',
       'CARLSBERG 2+1                 ', 'CARROT CAKE                   ',
       'CEREAL KILLER                 ', 'CHAMPINONES CON AJO Y OLIVA   ',
       'CHEESE FINGERS                ', 'CHEESE FONDUE                 ',
       'VLN CHENIN BLANC (BTL)        ', 'DHARMATEA LIGHT HOLDER        ',
       'PROFESSOR COOL                ', 'CHICKEN DRUMMETS              ',
       'CHICKEN SLOUVLAKI WRAP        ', 'CHOCOLATE FONDUE              ',
       'CHOCOLATE ICECREAM            ', 'CHOCOLATE REVOLUTION          ',
       'CINNA BUNS W CREAM CHESSE FROS', 'COUS COUS WRAP                ',
       'CREME BRULEE                  ', 'CLASSIC ULTRA MILD            ',
       'CREPES MONTE CRISTO           ', 'BUDWEISER                     ',
       'CREPES WITH MUSHROOMS         ', 'GINSENG PEACH TEA             ',
       'BAHUT BERRY                   ', 'GREEN TEA                     ',
       'APPLE PEAR N LIME             ', 'CAPPUCCINO GRANDE             ',
       'FRUIT FROM THE TROPICS        ', 'SUGARLESS LEMON ICE TEA       ',
       'TOMATO CARROT N CELERY        ', 'GUATEMALA ANTIGUA (REG)       ',
       'CHICKEN BURGER                ', 'SUNNY SIDE UP                 ',
       'TENNESSEE CHICKEN WINGS       ', 'O M G GRILLED BURGER          ',
       'JUICY LUCY                    ', 'PASTA ALFREDO VEG             ',
       'YIN N YANG FONDUE             ', 'TOAST BUTTER                  ',
       'FRENCH FRIES                  ', 'CHICKEN SAUSAGE               ',
       'AIOLI SALAD BOWL              ', 'PASTA ALFREDO NONVEG          ',
       'CHICKEN HAM                   ', 'SALSA WRAP                    ',
       'PASTA ARABIATA VEG            ', 'SOYA SAMMICH                  ',
       'LAMB STEW ALIO OLIO LINGUINI  ', 'PCJ PATTY BURGER              ',
       'ADD ICE CREAM                 ', 'HAZELNUT FONDUE               ',
       'KITSCH BLUE                   ', 'BHOJPURI SHOT GLASSES         ',
       'SPICE SHEESHA                 ', 'GHANA HOT CHOCOLATE           ',
       'CINNAMON APPLE TEA            ', '3 RED BULL                    ',
       'CAFE MIT SCHLAG               ', 'APPLE CARROT N GINGER JUICE   ',
       'VARLHONA HOT CHOCOLATE        ', 'WHITE TEA                     ',
       'COTTAGE CHEESE                ', 'MUSTARD HONEY MAYO SALAD BOWL ',
       'CEASAR SALAD BOWL             ', 'FRENCH VINAIGRETTE SALAD BOWL ',
       'ADD COTTAGE CHEESE            ', 'MOROCCAN SOY KEBABS           ',
       'WILD MUSHROOM LINGUINI        ', 'MARINATED CHICKEN & AIOLI     ',
       'LEBANESE CHICKEN WRAP         ', 'SOYA BOLOGNAISE               ',
       'MUGS - CHIP PRINT             ', 'PEACHES N STRAWBERRIES        ',
       'PEPPERMINT TEA                ', 'CELERY N ORANGE               ',
       'PAN CAKES                     ', 'ADD SMOKED CHICKEN            ',
       'ANDALUSIAN SAUSAGES           ', 'POTATO WEDGES                 ',
       'ADD CHICKEN SAUSAGE           ', 'MASALA OMELETTE               ',
       'HONEY MUSTARD CHICKEN         ', 'PASTA ARABIATA NONVEG         ',
       'BENSON & HEGDES GOLD BLUE     ', 'CREPES WITH POTATO LAKTES     ',
       'GNOCCHI SUN-DRIED TOM SAUCE   ', 'MAGGI NDL BBQ SAUCE           ',
       'MUSHROOM & CORN               ', 'MUSHROOM                      ',
       'BENARAS LIME                  ', 'CRANBERY SMOOTHIES            ',
       '2 RED BULL                    ', 'HERBED CHKN POTATOES & CARROTS',
       'CHEDDAR CHEESE                ', 'FLAVOUR 500 GMS               ',
       'CRUMBED TOFU CRUSTINI         ', 'CURRIED WASHINGTON APPLE SOUP ',
       'VEG PASTA PESTO               ', 'CHICKEN SALAMI                ',
       'UDAIPUR LILY                  ', 'CH WRAPPING PAPER             ',
       'FLEUR SATIN                   ', 'DARK RUM (SM)                 ',
       'DECAFFINATE COFFEE FRAPPE     ', 'DIA SPARKLING WINE(BTL)       ',
       'DIA SPARKLING WINE(GLS)       ', 'ENG BREAKFAST TEA             ',
       'GREAT LAKES FRAPPE                  ',
       '5 RED BULL                    ', 'N R G HOOKAH                  ',
       'BLUE LAGOON SHEESHA           ', 'RUM N RAISIN CHEESE CAKE      ',
       'SCHNEIDER BUCKET - 6          ', 'BROOKLYN BUCKET - 4           ',
       'ESPRESSO TRIOS                ', 'TINS RECT & SMALL CIRCULAR    ',
       'DAILY BEER GLASSES            ', 'ASH TRAYS                     ',
       'CH TIN SMALL                  ', 'CHAIRMAN COOL                 ',
       'FISH FINGER                   ', 'MALABAR STRIPE                ',
       '2 DOM BEER + 1SPL SHEESHA     ', 'GOLDEN DELIGHT 1.1            ',
       'FRIED MOZZARELLA              ', 'BENARAS BLUE                  ',
       'NONVEG PASTA PESTO            ', 'TOAST CIABATA                 ',
       'MAGGI NDL BURMESE CURRY       ', 'BEER HOOKAH                   ',
       'DAAKU SHOT GLASSES S-O 2      ', 'GIN (SM)                      ',
       'GNOCCHI CON POMMODORO         ', 'GOLD FLAKE KINGS-BIG          ',
       'GOLD FLAKE LIGHTS-BIG         ', 'GOLD FLAKE ULTRA LIGHTS(20)   ',
       'GOSSIPS CHARD AUS (BTL)       ', 'GRAPPO SHEESHA                ',
       'GREEK GYROS CRUSTINI          ', 'GRENADINE                     ',
       'ETCHED LEAF TLIGHT HOLDER     ',
       'GREAT LAKES HOOKAH SINGLE           ',
       'GUAVA                         ', 'HOEGAARDEN GLS (2+1)          ',
       'HOEGAARDEN LTR MUGS (2+1)     ', 'HONEY & MUSTARD GLAZED CHICKEN',
       'HONEY ROASTED PEANUT BUTTER CK', 'HONEYGLAZED CHICK & MUSTERD CR',
       'HOTDOG WRAP                   ', 'CH TIN RECTANGULAR            ',
       'ICE BERG SHEESHA              ', 'ICE BULL                      ',
       'ICE SPICE SHEESHA             ', 'ICED LEMON OR STR CAMOMILE    ',
       'ITALIAN CAPONATA PANINO       ', 'J.PCHENET SPARKLING ROSE (BTL)',
       'JAPANESE YAKITORI WRAP        ', 'KF DRAFT MUG                  ',
       'LEMON INFUSED CHAR GRILLED VEG', 'CLASSIC REGULAR               ',
       'FLAVOR 250 GMS                ', 'M & M SHAKE                   ',
       'MAC N CHEESE                  ', 'MAGGI NDL BOLOGNESE           ',
       'ROCK THE BOAT TEA LIGHT HOLDER', 'BODHI PLANTER CUM CANDLE STAND',
       'MAISON PIERRE SAUV MARSAN     ', 'MANDALA VALLEY CHENIN BLANC(GL',
       'MANDALA VALLEY RED ZINFANDEL(G', 'MANGO FLAVOUR SINGLE          ',
       'MATEUS ROSE PORTUGAL(BTL)     ', 'MEDITER RANEAN PANINO         ',
       'MEXICAN CHILLI CON CARNE WRAP ', 'BROOKLYN                      ',
       'MEXICAN CHILLY CREPES         ', 'MINT FLAVOUR DOUBLE           ',
       'MIXED FLAVOUR SINGLE          ', 'CH COASTER SET OF 4           ',
       'MM SALSA SHEESHA              ', 'MOCAFE HOT CHOCOLATE(SF)      ',
       'GREAT LAKES STAMP DAIRY             ',
       'MORROCAN SOY KEBABS           ', 'MOTHERS DAY SPL               ',
       'NIRVANA HOOKAH DOUBLE         ', 'NUTELLA CREPES                ',
       'ORANGE ARRABIATA              ', 'PAAN SHEESHA                  ',
       'PARTY CHARGES @ 500/-         ', 'PEACH BULL                    ',
       'PESCADO PANINO                ', 'KITSCH PINK                   ',
       '4 DOM BEER + 1SPL SHEESHA     ', 'SCHNEIDER WEISSE              ',
       'PESTO CREAM                   ', 'PHILADELPHIA CREAM CHEESECAKE ',
       'PLAIN  JANE (STRAWBERRY)      ', 'PLAIN JANE (CHOCOLATE)        ',
       'CH CRICKET NOTEBOOK           ', 'BODHI CUSHIONS                ',
       'PLAIN JANES (VANILLA)         ', 'POLENTA & CORN CAKES          ',
       'POLLO CON AIOLI               ', 'INDIA KINGS OCEAN BLUE        ',
       'POLLO PELOTA CON TAMATE SALSA ', 'PUMPKIN PIE                   ',
       'QUESO CROQUETAS FRITOS        ', 'RASPBERRY LITE SHAKE          ',
       'RED BULL 2+1                  ', 'ADD BUTTERED TOAST            ',
       'SCRAMBLED EGGS + BEVERAGE     ', 'WAFFLES + BEVERAGE            ',
       'FLAVOR 1000 GMS               ', '2 DOM BEER + 1PREM SHEESHA    ',
       '2 MUFFINS + BEVERAGE          ', 'RED BULL 3+2                  ',
       'RED BULL SHEESHA              ', 'RED SANGRIA (CARAFE) áááááááá ',
       'RED SANGRIA (GLS)á áááááááááá ', 'RED VELVET CHEESE CAKE        ',
       'REDBULL HOOKAH + 2REDBULL     ', 'ROAST CHICKEN SALAD           ',
       'ROMA TOMATO & JALAPENO CROQUE ', 'ROSE FLAVORS SINGLE           ',

* Rename values in the Description item column that contains strange data.

In [10]:
cafe_data = cafe_data.replace({'Description': {'WHITE SANGRIA (GLS)áááá áááááá' : 'WHITE SANGRIA (GLS)',
                                               'WHITE SANGRIA (CARAFE)áááááááá' : 'WHITE SANGRIA (CARAFE)',
                                               'RED SANGRIA (GLS)á áááááááááá ' : 'RED SANGRIA (GLS)',
                                               'RED SANGRIA (CARAFE) áááááááá ' : 'RED SANGRIA (CARAFE)',
                                               'C C C ROMA TOMATO SALAD       ' : 'ROMA TOMATO SALAD',
                                               'THAT CHOCOLATE THING......... ' : 'THAT CHOCOLATE THING'}})

In [11]:
cafe_data['Description'].unique()

array(['QUA  MINERAL WATER(1000ML)    ', 'MONSOON MALABAR (AULAIT)      ',
       'MASALA CHAI CUTTING           ', 'MOROCCAN MINT TEA             ',
       'CAPPUCCINO                    ', 'SUMATRA MANDHELING (REG)      ',
       'BRAZIL BOURBONSANTOS (AULAIT) ', 'LEMON ICED TEA                ',
       'COUNTRY LEMONADE              ', 'MIAMI MELONS                  ',
       'CAFFE LATTE                   ', 'RED BULL ENERGY DRINK         ',
       'BRAZIL BOURBONSANTOS (REG)    ', 'DOPPIO                        ',
       'PINK LEMONADE                 ', 'BLACK CURRANT ICED TEA        ',
       'CURRANT COOLER                ', 'CHAI LATTE                    ',
       'GREAT LAKES CREAM                   ',
       'ULTIMATE HOT CHOCOLATE        ', 'ORANGINA  (250ML)             ',
       'EARL GREY                     ', 'COOKIE CRUMBLE                ',
       'STRAWBERRY ICED TEA           ', 'BERRY BLAST                   ',
       'COOL CALIFORNICA              ', 'ADD HAZELNUT FLAVOUR          ',
       'THE CHOCO LATTE               ', 'COSTARICA TARRAZU (REG)       ',
       'HOUSEBLEND FULLCITY (AU LAIT) ', 'JAMAICAN BLUE MT (AU LAIT)    ',
       'SPANISH OMELETTE BREAKFAST    ', 'GOOEY CHOCOLATE FUDGE         ',
       'JR.CHL AVALANCHE              ', 'VERTIGO                       ',
       'HERBED GARDEN PIE             ', 'GARDEN FRESH PANINI           ',
       'SATAY CHICKEN PANINI          ', 'COUNTRY ROAST CHICKEN PANINI  ',
       'B.M.T. PANINI                 ', 'VEG. CLUB WRAP                ',
       'GREAT LAKES SHAKE                   ',
       'KIT KAT SHAKE                 ', 'KHEEMA GHOTALA                ',
       'CAESARS SALAD WRAP            ', 'STRAWBERRY CHEESECAKE SHAKE   ',
       'TOBLERONE SHAKE               ', 'ADD FRIES                     ',
       'NON-VEG CLUB WRAP             ', 'SNICKER BAR SHAKE             ',
       'THAT CHOCOLATE THING', 'BLACK FOREST SHAKE            ',
       'MAGGI NDL ARRABIATA           ', 'MEZE PLATTER                  ',
       'POUTINE WITH FRIES            ', 'OREO COOKIE SHAKE             ',
       'LAVA LAVA                     ', 'CHEESE CAKE OF THE WEEK       ',
       'LINDT CHOCOLATE SHAKE         ', 'MAGGI NDLCREAM/ CHEE/GARLIC   ',
       'PHILLYCREAM CHEESE &CHILLY PAN', 'BANANA WALNUT MUFFIN          ',
       'CHICKEN SALAMI PANINI         ', 'SCRAMBLED EGGS                ',
       'MT. BROWNIE                   ', 'SEASONAL FRUITPIE (LOWCAL)    ',
       'COTTAGE CHEESE PANINI         ', 'DUTCH TRUFFLE CAKE SHAKE      ',
       'POUTINE WITH WEDGES           ', 'MAGGI NDLTHAI STYLE           ',
       'THE GREAT INDIAN WRAP         ', 'ROCKY ROAD SHAKE              ',
       'BAILEYS IRISH SHAKE           ', 'ITALIAN OMELETTE BREAKFAST    ',
       'CARLSBERG                     ', 'TUBORG                        ',
       'FLAVORS (100 GMS)             ', 'MUGS WITH CIRCLE DESIGN       ',
       'MINT FLAVOUR SINGLE           ', 'NIRVANA HOOKAH SINGLE         ',
       'RED WINE SHEESHA              ', 'RABAT HOOKAH SINGLE           ',
       'SAMBUCA                       ', 'N R G  HOOKAH                 ',
       'CALCUTTA MINT                 ', 'SILVER APPLE SINGLE           ',
       'GREEN APPLE FLAVOUR SINGLE    ', 'MISCHIEF HOOKAH SINGLE        ',
       'GRAPE FLAVOUR SINGLE          ', 'BLUE BERRY SINGLE             ',
       'THE  CHAMPAGNE SHEESHA        ', 'AL SIKANDARI HOOKAH SINGLE    ',
       'APPLE FLAVOUR SINGLE          ', 'WHITE WINE SHEESHA            ',
       '1 AXE TWIST                   ', '1+1 BTL4 SEASON WHITE         ',
       '1+1 GLS 4SEASON RED           ', '1+1 GLS 4SEASONS WHITE        ',
       '1+1 KF 1 LITER                ', 'IRISH COFFEE                  ',
       'JAMAICAN BLUE MT (REG)        ', 'SUMATRA MANDHELING (AULAIT)   ',
       'QUA  MINERAL WATER(500ML)     ', 'TROPICAL SMOOTHIE             ',
       'ADD VANILLA FLAVOUR           ', 'ESPRESSO                      ',
       'GREAT LAKES FLOATS W CHOC           ',
       'GREAT LAKES FLOAT W VANILLA         ',
       'COOKIE MONSTER                ', 'THE FERROR ROCHER SHAKE       ',
       'BUN MASKA & CHAI              ', 'CHUNKY CHOCO CHIP COOKIES     ',
       'HASH BROWN OMELETTE           ', 'SUNSHINE SHAKE                ',
       'SR.CHL AVALANCHE              ', 'JUICE HOOKAH SINGLE           ',
       '1+1 KF 1/2 LITER              ', 'COSTARICA TARAZU (AULAIT)     ',
       'CHAMOMILE TEA                 ', 'TIRAMISU                      ',
       'APPLE PIE SHAKE               ', 'CLASSIC BELGIAN  WAFFLE       ',
       'KF DRAUGHT (1/2LTR)           ', 'KF DRAUGHT (1LTR)             ',
       'DAIRY OF A DAIRY              ', 'GOA GIRLS SHOT GLASS          ',
       'CLASSIC MILD                  ', 'STRAWBERRY FLAVOUR SINGLE     ',
       'SULA BLUSH ZINFANDEL(GLS)     ', 'SULA BRUT (BTL)               ',
       'KENYA AA (AULAIT)             ', 'COLUMBIAN SUPREMO  (REG)      ',
       'THANK GOD ITS A SUNDAE        ', 'HERBED CHICKEN PIE            ',
       'STUFFED MUSHROOM              ', 'STELLA ARTOIS (GLS)           ',
       'HOEGAARDEN MUG (1 LITRE)      ', 'VLN CAB SAUV (GLS)            ',
       'GREAT LAKES-JAVA BLEND (AULAIT)     ',
       'LINDT HOT CHOCOLATE           ', 'MONSOON MALABAR (REG)         ',
       'INDIAN PEABERRY (REG)         ', 'COLUMBIAN SUP DCAFE (AU LAIT) ',
       'INDIAN PEABERRY (AULAIT)      ', 'APPLE CINNAMON MUFFIN         ',
       'BEAN N NACHO CHILLI           ', 'ADD CHICKEN                   ',
       'KF DRAUGHT PITCHER (2LTR)     ', 'TREE DIARY                    ',
       'CH NOTE BOOKS                 ', 'CH TINS                       ',
       'LEMON FLAVOUR SINGLE          ', 'LATE HARVEST SULA CHENIN (BTL)',
       'PEACH FLAVOUR SINGLE          ', 'VLN SAUV BLANC (GLS)          ',
       'SANGRIA ROSE (GLS)            ', 'VLN CAB SAUV CLASIQ (BTL)     ',
       '1+1 KF 2 LITER                ', '1+1 VLN CAB SAUV (BTL)        ',
       '1+1 VLN CAB SAUV (GLS)        ', '1+1 VLN CAB SAUV CLASIQ (BTL) ',
       '1+1 VLN CAB SAUV CLASIQ (GLS) ', '1+1 VLN CHENIN BLANC (GLS)    ',
       'GREAT LAKES-JAVA BLEND (REG)        ',
       'ADD CARAMEL FLAVOUR           ', 'HOUSEBLEND FULLCITY (REG)     ',
       'CH KEY CHAIN                  ', '1+1 VLN SAUV BLANC (BTL)      ',
       '1+1 VLN SAUV BLANC (GLS)      ', '1+1 WINE BOTTLE               ',
       '1+1 WINE GLASS                ', 'CON PANNA                     ',
       'ETHOPIAN YIRGACHEFFE (AULAIT) ', 'KENYA AA  (REG)               ',
       'COLUMBIAN SUP DCAFE (RGLR)    ', 'BEER TANK 3.5 LITRE           ',
       'STELLA ARTOIS MUG (1 LTR)     ', 'STELLA ARTOIS MUG (1/2 LTR)   ',
       'THUNDER THIGH(JUICE GLS) BLACK', 'MARRAKESH HOOKAH SINGLE       ',
       '2 AXE TWIST                   ', '2 OCEAN PINOTAGE (BTL)        ',
       '3COURSE NON-VEG MEAL          ', '3COURSE VEG MEAL              ',
       '4 SEASONS CLAS SAUV(BTL)      ', '4 SEASONS CLAS SAUV(GLS       ',
       'ADD CINNAMON FLAVOUR          ', 'ETHIOPIAN YIRGACHEFFE (REG)   ',
       'HAWAIIAN KONA FANCY(REG)      ', 'CHERRY FLAVOUR SINGLE         ',
       'SANGRIA ROSE (CARAFE)         ', '4 SEASONS CLAS SYRAH(BTL)     ',
       '4 SEASONS CLAS SYRAH(GLS)     ', 'ADD CHICKEN BACON             ',
       'ADD GROUND MEAT               ', 'ADD HERB ROAST CHICKEN        ',
       'COLUMBIAN SUPREMO (AULAIT)    ',
       'YEMENI GREAT LAKES (REG)            ',
       'HOEGAARDEN (GLS)              ', 'MUGS - STRIPE PLAIN           ',
       'VLN CHENIN BLANC (GLS)        ', 'ROCKSTAR TOOTHPICK HOLDER     ',
       'JAVA ESTATES (AULAIT)         ', 'NEW ORLEANS BLUE  (AULAIT)    ',
       'HOUSE BLEND DECAFF (REG)      ',
       'GREAT LAKES T-SHIRTS                ',
       'BENSON & HEDGES LIGHTS        ', 'ORANGE FLAVOUR SINGLE         ',
       'ADD ON S                      ', 'CHICKEN KIBBEH                ',
       'MUGS - FLAMES                 ', 'ADD WHIPPED CREAM             ',
       'GRILLED CHICKEN SAUSAGES      ', 'ANDAMAN STRIPE                ',
       'MUMBAI SHOT GLASSES           ', 'VLN CAB SAUV CLASIQ (GLS)     ',
       'VLN CAB SAUV (BTL)            ', 'MUGS - PLAIN COLOUR           ',
       'MM DAIRY GRAMAPHONE           ', 'SANDASS                       ',
       'ZERO SIZE SHOT GLS            ', 'MODEL-P (IRON ASHTRAY)        ',
       'CLASSIC MENTHOL               ', 'ADD POTATO WEDGES             ',
       'ADD TRADITIONAL MEAT FEAST    ', 'AFRICAN OMELETTE BREAKFAST    ',
       'AL SIKANDARI HOOKAH DOUBLE    ', 'ALIO AGLIO                    ',
       'APPLE FLAVOUR DOUBLE          ', 'APPLE N CINNAMON CREPES       ',
       'MUGS - TALL PLAIN             ', 'APRICOT FLAVOUR SINGLE        ',
       'ARABIAN MIST                  ', 'CASABLANKA  HOOKAH SINGLE     ',
       'GOLD FLAKE KING RED           ', 'BOTTLED WATER (1LITRE)        ',
       'OATMEAL AND RAISIN COOKIES    ', 'CH BOOKMARKS SET OF 4         ',
       'GOLD FLAKE KING BLUE          ', 'VLN SAUV BLANC (BTL)          ',
       'SULA BLUSH ZINFANDEL (BTL)    ', 'HAWAIIAN KONA FANCY (AU LAIT) ',
       'MUGS - TOP BOTTOM             ', 'RULER DIARY                   ',
       'BENSON & HEDGES SPL           ',
       'YEMENI GREAT LAKES (AULAIT)         ',
       'CUTTING GLASS                 ', 'TIFFIN DABBA CD RACK (SMALL)  ',
       'NEW ORLEANS BLUE (REG)        ', 'THUNDER THIGH(JUICE GLS) RED  ',
       'LOTUS TEA LIGHT HOLDER        ', 'LASSI DA GLASS                ',
       'GREAT LAKES ORGANISER               ',
       'MUGS - DOTS                   ', 'GUERILLA COOL                 ',
       'LATE HARVEST SULA CHENIN (GLS)', 'JAVA ESTATES (REG)            ',
       'MAHATMA COOL                  ', 'MADIBA COOL                   ',
       'ADD IRISH CREAM FLAVOUR       ', 'KONKAN STRIPE                 ',
       'HOEGAARDEN MUG (1/2 LITRE)    ', 'DAARU BEER GLASS              ',
       'ASIAN WOK TOSSED SALAD        ', 'ASSORTED TAPAS (2)NONVEG      ',
       'ASSORTED TAPAS(2 )VEG         ', 'B1G1 4SEASON CLAS SAUV(BTL)   ',
       'B1G1 4SEASON CLAS SAUV(GLS)   ', 'B1G1 4SEASON CLAS SYRAH(GLS)  ',
       'B1G1 ZINZI RED (BTL)          ', 'B1G1 ZINZI RED (GLS)          ',
       'B1G1 ZINZI WHITE (BTL)        ', 'B1G1 ZINZI WHITE (GLS)        ',
       'BANGERS N MASH                ', 'PLAYING CARDS                 ',
       'B-BEANS G-TOMATO & WEDGES     ', 'BBQ CHICKEN WINGS             ',
       'BEANS NACHO CHILLI W MEAT     ', 'BERRY BULL                    ',
       'DIP BOWL                      ', 'BLACK FOREST CREPES           ',
       'BLACKENED BALTI CHICKEN CRUSTI', 'GUATEMALA ANTIGUA (AULAIT)    ',
       'BLUE BERRY MUFFINS            ', 'BLUEBERRY BRAIN FREEZER SHAKE ',
       'CH COFFEE MUGS                ', 'NAPKIN STAND                  ',
       'COOLER GLASS(PILSNER)         ', 'CLASSIC MENTHOL RUSH          ',
       'HOUSE BLEND DE CAFFE (AU LAIT)', 'AU LAIT SET                   ',
       'ZEN ROCK SQUARE VASE          ', 'BUNUELOS DE CHIRIZO           ',
       'FLAVOR  50 GMS                ', 'MUGS - PATTERN                ',
       'RECESSION BEER MUG SHOT GLS   ', 'BUTTER MILK PAN CAKES         ',
       'BENARAS GREEN                 ', 'JAIPUR LILY                   ',
       'BUTTERED TOASTS               ', 'ROMA TOMATO SALAD',
       'JODHPUR LILY                  ', 'JAISALMER LILY                ',
       'CAFE ZABAGLIONE               ', 'CAJUN CHICKEN CRUSTINI        ',
       'CALAMARI FRITO                ', 'CAPONATA                      ',
       'CARLSBERG 2+1                 ', 'CARROT CAKE                   ',
       'CEREAL KILLER                 ', 'CHAMPINONES CON AJO Y OLIVA   ',
       'CHEESE FINGERS                ', 'CHEESE FONDUE                 ',
       'VLN CHENIN BLANC (BTL)        ', 'DHARMATEA LIGHT HOLDER        ',
       'PROFESSOR COOL                ', 'CHICKEN DRUMMETS              ',
       'CHICKEN SLOUVLAKI WRAP        ', 'CHOCOLATE FONDUE              ',
       'CHOCOLATE ICECREAM            ', 'CHOCOLATE REVOLUTION          ',
       'CINNA BUNS W CREAM CHESSE FROS', 'COUS COUS WRAP                ',
       'CREME BRULEE                  ', 'CLASSIC ULTRA MILD            ',
       'CREPES MONTE CRISTO           ', 'BUDWEISER                     ',
       'CREPES WITH MUSHROOMS         ', 'GINSENG PEACH TEA             ',
       'BAHUT BERRY                   ', 'GREEN TEA                     ',
       'APPLE PEAR N LIME             ', 'CAPPUCCINO GRANDE             ',
       'FRUIT FROM THE TROPICS        ', 'SUGARLESS LEMON ICE TEA       ',
       'TOMATO CARROT N CELERY        ', 'GUATEMALA ANTIGUA (REG)       ',
       'CHICKEN BURGER                ', 'SUNNY SIDE UP                 ',
       'TENNESSEE CHICKEN WINGS       ', 'O M G GRILLED BURGER          ',
       'JUICY LUCY                    ', 'PASTA ALFREDO VEG             ',
       'YIN N YANG FONDUE             ', 'TOAST BUTTER                  ',
       'FRENCH FRIES                  ', 'CHICKEN SAUSAGE               ',
       'AIOLI SALAD BOWL              ', 'PASTA ALFREDO NONVEG          ',
       'CHICKEN HAM                   ', 'SALSA WRAP                    ',
       'PASTA ARABIATA VEG            ', 'SOYA SAMMICH                  ',
       'LAMB STEW ALIO OLIO LINGUINI  ', 'PCJ PATTY BURGER              ',
       'ADD ICE CREAM                 ', 'HAZELNUT FONDUE               ',
       'KITSCH BLUE                   ', 'BHOJPURI SHOT GLASSES         ',
       'SPICE SHEESHA                 ', 'GHANA HOT CHOCOLATE           ',
       'CINNAMON APPLE TEA            ', '3 RED BULL                    ',
       'CAFE MIT SCHLAG               ', 'APPLE CARROT N GINGER JUICE   ',
       'VARLHONA HOT CHOCOLATE        ', 'WHITE TEA                     ',
       'COTTAGE CHEESE                ', 'MUSTARD HONEY MAYO SALAD BOWL ',
       'CEASAR SALAD BOWL             ', 'FRENCH VINAIGRETTE SALAD BOWL ',
       'ADD COTTAGE CHEESE            ', 'MOROCCAN SOY KEBABS           ',
       'WILD MUSHROOM LINGUINI        ', 'MARINATED CHICKEN & AIOLI     ',
       'LEBANESE CHICKEN WRAP         ', 'SOYA BOLOGNAISE               ',
       'MUGS - CHIP PRINT             ', 'PEACHES N STRAWBERRIES        ',
       'PEPPERMINT TEA                ', 'CELERY N ORANGE               ',
       'PAN CAKES                     ', 'ADD SMOKED CHICKEN            ',
       'ANDALUSIAN SAUSAGES           ', 'POTATO WEDGES                 ',
       'ADD CHICKEN SAUSAGE           ', 'MASALA OMELETTE               ',
       'HONEY MUSTARD CHICKEN         ', 'PASTA ARABIATA NONVEG         ',
       'BENSON & HEGDES GOLD BLUE     ', 'CREPES WITH POTATO LAKTES     ',
       'GNOCCHI SUN-DRIED TOM SAUCE   ', 'MAGGI NDL BBQ SAUCE           ',
       'MUSHROOM & CORN               ', 'MUSHROOM                      ',
       'BENARAS LIME                  ', 'CRANBERY SMOOTHIES            ',
       '2 RED BULL                    ', 'HERBED CHKN POTATOES & CARROTS',
       'CHEDDAR CHEESE                ', 'FLAVOUR 500 GMS               ',
       'CRUMBED TOFU CRUSTINI         ', 'CURRIED WASHINGTON APPLE SOUP ',
       'VEG PASTA PESTO               ', 'CHICKEN SALAMI                ',
       'UDAIPUR LILY                  ', 'CH WRAPPING PAPER             ',
       'FLEUR SATIN                   ', 'DARK RUM (SM)                 ',
       'DECAFFINATE COFFEE FRAPPE     ', 'DIA SPARKLING WINE(BTL)       ',
       'DIA SPARKLING WINE(GLS)       ', 'ENG BREAKFAST TEA             ',
       'GREAT LAKES FRAPPE                  ',
       '5 RED BULL                    ', 'N R G HOOKAH                  ',
       'BLUE LAGOON SHEESHA           ', 'RUM N RAISIN CHEESE CAKE      ',
       'SCHNEIDER BUCKET - 6          ', 'BROOKLYN BUCKET - 4           ',
       'ESPRESSO TRIOS                ', 'TINS RECT & SMALL CIRCULAR    ',
       'DAILY BEER GLASSES            ', 'ASH TRAYS                     ',
       'CH TIN SMALL                  ', 'CHAIRMAN COOL                 ',
       'FISH FINGER                   ', 'MALABAR STRIPE                ',
       '2 DOM BEER + 1SPL SHEESHA     ', 'GOLDEN DELIGHT 1.1            ',
       'FRIED MOZZARELLA              ', 'BENARAS BLUE                  ',
       'NONVEG PASTA PESTO            ', 'TOAST CIABATA                 ',
       'MAGGI NDL BURMESE CURRY       ', 'BEER HOOKAH                   ',
       'DAAKU SHOT GLASSES S-O 2      ', 'GIN (SM)                      ',
       'GNOCCHI CON POMMODORO         ', 'GOLD FLAKE KINGS-BIG          ',
       'GOLD FLAKE LIGHTS-BIG         ', 'GOLD FLAKE ULTRA LIGHTS(20)   ',
       'GOSSIPS CHARD AUS (BTL)       ', 'GRAPPO SHEESHA                ',
       'GREEK GYROS CRUSTINI          ', 'GRENADINE                     ',
       'ETCHED LEAF TLIGHT HOLDER     ',
       'GREAT LAKES HOOKAH SINGLE           ',
       'GUAVA                         ', 'HOEGAARDEN GLS (2+1)          ',
       'HOEGAARDEN LTR MUGS (2+1)     ', 'HONEY & MUSTARD GLAZED CHICKEN',
       'HONEY ROASTED PEANUT BUTTER CK', 'HONEYGLAZED CHICK & MUSTERD CR',
       'HOTDOG WRAP                   ', 'CH TIN RECTANGULAR            ',
       'ICE BERG SHEESHA              ', 'ICE BULL                      ',
       'ICE SPICE SHEESHA             ', 'ICED LEMON OR STR CAMOMILE    ',
       'ITALIAN CAPONATA PANINO       ', 'J.PCHENET SPARKLING ROSE (BTL)',
       'JAPANESE YAKITORI WRAP        ', 'KF DRAFT MUG                  ',
       'LEMON INFUSED CHAR GRILLED VEG', 'CLASSIC REGULAR               ',
       'FLAVOR 250 GMS                ', 'M & M SHAKE                   ',
       'MAC N CHEESE                  ', 'MAGGI NDL BOLOGNESE           ',
       'ROCK THE BOAT TEA LIGHT HOLDER', 'BODHI PLANTER CUM CANDLE STAND',
       'MAISON PIERRE SAUV MARSAN     ', 'MANDALA VALLEY CHENIN BLANC(GL',
       'MANDALA VALLEY RED ZINFANDEL(G', 'MANGO FLAVOUR SINGLE          ',
       'MATEUS ROSE PORTUGAL(BTL)     ', 'MEDITER RANEAN PANINO         ',
       'MEXICAN CHILLI CON CARNE WRAP ', 'BROOKLYN                      ',
       'MEXICAN CHILLY CREPES         ', 'MINT FLAVOUR DOUBLE           ',
       'MIXED FLAVOUR SINGLE          ', 'CH COASTER SET OF 4           ',
       'MM SALSA SHEESHA              ', 'MOCAFE HOT CHOCOLATE(SF)      ',
       'GREAT LAKES STAMP DAIRY             ',
       'MORROCAN SOY KEBABS           ', 'MOTHERS DAY SPL               ',
       'NIRVANA HOOKAH DOUBLE         ', 'NUTELLA CREPES                ',
       'ORANGE ARRABIATA              ', 'PAAN SHEESHA                  ',
       'PARTY CHARGES @ 500/-         ', 'PEACH BULL                    ',
       'PESCADO PANINO                ', 'KITSCH PINK                   ',
       '4 DOM BEER + 1SPL SHEESHA     ', 'SCHNEIDER WEISSE              ',
       'PESTO CREAM                   ', 'PHILADELPHIA CREAM CHEESECAKE ',
       'PLAIN  JANE (STRAWBERRY)      ', 'PLAIN JANE (CHOCOLATE)        ',
       'CH CRICKET NOTEBOOK           ', 'BODHI CUSHIONS                ',
       'PLAIN JANES (VANILLA)         ', 'POLENTA & CORN CAKES          ',
       'POLLO CON AIOLI               ', 'INDIA KINGS OCEAN BLUE        ',
       'POLLO PELOTA CON TAMATE SALSA ', 'PUMPKIN PIE                   ',
       'QUESO CROQUETAS FRITOS        ', 'RASPBERRY LITE SHAKE          ',
       'RED BULL 2+1                  ', 'ADD BUTTERED TOAST            ',
       'SCRAMBLED EGGS + BEVERAGE     ', 'WAFFLES + BEVERAGE            ',
       'FLAVOR 1000 GMS               ', '2 DOM BEER + 1PREM SHEESHA    ',
       '2 MUFFINS + BEVERAGE          ', 'RED BULL 3+2                  ',
       'RED BULL SHEESHA              ', 'RED SANGRIA (CARAFE)',
       'RED SANGRIA (GLS)', 'RED VELVET CHEESE CAKE        ',
       'REDBULL HOOKAH + 2REDBULL     ', 'ROAST CHICKEN SALAD           ',
       'ROMA TOMATO & JALAPENO CROQUE ', 'ROSE FLAVORS SINGLE           ',

* Check which Category is bought

In [12]:
cafe_data['Category'].unique()

array(['BEVERAGE', 'FOOD', 'LIQUOR', 'MERCHANDISE', 'TOBACCO', 'MISC',
       'WINES', 'LIQUOR & TPBACCO', 'LIQUOR '], dtype=object)

* Checking odd values: LIQUOR

In [13]:
cafe_data = cafe_data.replace({'Category': {'LIQUOR ' : 'LIQUOR'}})
cafe_data['Category'].unique()

array(['BEVERAGE', 'FOOD', 'LIQUOR', 'MERCHANDISE', 'TOBACCO', 'MISC',
       'WINES', 'LIQUOR & TPBACCO'], dtype=object)

In [14]:
categories = cafe_data['Category'].value_counts()
categories

FOOD                57023
BEVERAGE            43573
TOBACCO             36496
LIQUOR               6201
MISC                 1187
WINES                 809
MERCHANDISE           487
LIQUOR & TPBACCO       54
Name: Category, dtype: int64

In [15]:
cafe_data = cafe_data.replace({'Category': {'LIQUOR & TPBACCO' : 'LIQUOR & TOBACCO'}})

In [16]:
categories = cafe_data['Category'].value_counts()
categories

FOOD                57023
BEVERAGE            43573
TOBACCO             36496
LIQUOR               6201
MISC                 1187
WINES                 809
MERCHANDISE           487
LIQUOR & TOBACCO       54
Name: Category, dtype: int64

In [17]:
categories_vol = cafe_data['Category2'].value_counts()
categories_vol

TOBACCO             36663
FOOD                17562
BEVERAGE            17117
SHAKES              15702
COFFEE              15488
PANINI               9217
DESSERT              6874
TEA                  6203
BEER                 6113
NOODLES              2560
BEVERAGE HOT         2312
SIDE DISH            1851
BREAKFAST            1661
FOOD VEGAN           1481
BEVERAGE ADD         1143
PASTA                 882
WINES                 876
SALAD                 638
MUFFINS               538
MERCHANDISE           488
BURGER                357
LIQUOR & TPBACCO       54
LIQUOR                 27
MISC                   23
Name: Category2, dtype: int64

* If we analyze LIQUOR & TOBACCO Category we can see that the Description of the product bought corresponds to a combination of both. So we can leave it this way.
* Then, create DF's for were we store the items according to their category.

In [18]:
liquor_tobacco = cafe_data.loc[cafe_data['Category'] == 'LIQUOR & TOBACCO']

In [19]:
merch = cafe_data.loc[cafe_data['Category'] == 'MERCHANDISE']

In [20]:
wines = cafe_data.loc[cafe_data['Category'] == 'WINES']

In [21]:
misc = cafe_data.loc[cafe_data['Category'] == 'MISC']

In [22]:
tobacco = cafe_data.loc[cafe_data['Category'] == 'TOBACCO']

In [23]:
beverages = cafe_data.loc[cafe_data['Category'] == 'BEVERAGE']

In [24]:
food = cafe_data.loc[cafe_data['Category'] == 'FOOD']

---

# Check using Category2

In [25]:
food2 = cafe_data.loc[cafe_data['Category2'] == 'FOOD']

In [26]:
beverages2 = cafe_data.loc[cafe_data['Category2'] == 'BEVERAGE']

In [27]:
tobacco2 = cafe_data.loc[cafe_data['Category2'] == 'TOBACCO']

In [28]:
wines2 = cafe_data.loc[cafe_data['Category2'] == 'WINES']

In [29]:
beer2 = cafe_data.loc[cafe_data['Category2'] == 'BEER']

In [30]:
dessert2 = cafe_data.loc[cafe_data['Category2'] == 'DESSERT']

In [31]:
coffee2 = cafe_data.loc[cafe_data['Category2'] == 'COFFEE']

In [32]:
panini2 = cafe_data.loc[cafe_data['Category2'] == 'PANINI']

In [33]:
tea2 = cafe_data.loc[cafe_data['Category2'] == 'TEA']

In [34]:
shakes2 = cafe_data.loc[cafe_data['Category2'] == 'SHAKES']

* Check for the most popular items for each Category

In [35]:
tobacco['Description'].value_counts().head(20)
beverages['Description'].value_counts().head(20)
tobacco['Description'].value_counts().head(20)
misc['Description'].value_counts().head(20)
wines['Description'].value_counts().head(20)
merch['Description'].value_counts().head(20)

GREAT LAKES T-SHIRTS                    34
CH NOTE BOOKS                           28
CH TINS                                 25
CH COFFEE MUGS                          25
CH KEY CHAIN                            22
MUGS - PATTERN                          19
SANDASS                                 16
MUGS - TALL PLAIN                       14
ROCKSTAR TOOTHPICK HOLDER               14
TREE DIARY                              12
MUGS - FLAMES                           12
CH BOOKMARKS SET OF 4                   10
MUGS WITH CIRCLE DESIGN                 10
MUMBAI SHOT GLASSES                     10
DAILY BEER GLASSES                      10
RULER DIARY                              9
TINS RECT & SMALL CIRCULAR               9
ZERO SIZE SHOT GLS                       9
PLAYING CARDS                            9
BHOJPURI SHOT GLASSES                    9
Name: Description, dtype: int64

In [36]:
tobacco2_top = tobacco2['Description'].value_counts().head(10)
food2_top = food2['Description'].value_counts().head(10)
beverages2_top = beverages2['Description'].value_counts().head(10)
beer2_top = beer2['Description'].value_counts().head(10)
wines2_top = wines2['Description'].value_counts().head(10)
shakes2_top = shakes2['Description'].value_counts().head(10)
panini2_top = panini2['Description'].value_counts().head(10)
tea2_top = tea2['Description'].value_counts().head(10)
dessert2_top = dessert2['Description'].value_counts().head(10)
coffee2_top = coffee2['Description'].value_counts().head(10)

In [37]:
#tobacco2_top.to_csv('TopTobaccoSales.csv')
#food2_top.to_csv('TopFoodSales.csv')
#beverages2_top.to_csv('TopBeveragesSales.csv')
#beer2_top.to_csv('TopBeerSales.csv')
#wines2_top.to_csv('TopWinesSales.csv')
#shakes2_top.to_csv('TopShakesSales.csv')
#panini2_top.to_csv('TopPaniniSales.csv')
#tea2_top.to_csv('TopTeaSales.csv')
#dessert2_top.to_csv('TopDessertSales.csv')
#coffee2_top.to_csv('TopCoffeeSales.csv')

---

## Unique Produts: Analysis

In [38]:
unique_food = food['Description'].unique().tolist()
print(f'Number of unique dishes: {len(unique_food)}')

Number of unique dishes: 208

In [39]:
unique_beverages = beverages['Description'].unique().tolist()
print(f'Number of unique beverages: {len(unique_beverages)}')

Number of unique beverages: 119

In [40]:
unique_tobacco = tobacco['Description'].unique().tolist()
print(f'Number of unique tobacco options: {len(unique_tobacco)}')

Number of unique tobacco options: 52

In [41]:
dates = cafe_data['Date'].unique().tolist()
print(f'Number of unique dates in this dataset: {len(dates)}')

Number of unique dates in this dataset: 365

In [42]:
years = cafe_data['Year'].unique().tolist()
print(f'Years in this data set: {years}')

Years in this data set: [2010, 2011]

In [43]:
days = cafe_data['Day'].unique().tolist()
print(f'Days in dataset: {days}')

Days in dataset: ['jueves', 'domingo', 'viernes', 'sábado', 'lunes', 'miércoles', 'martes']

In [44]:
bucket_time = cafe_data['TimeBucket'].unique().tolist()
print(f'Time Buckets in dataset: {bucket_time}')

Time Buckets in dataset: ['12 PM to 4 PM', '12 AM to 4 AM', '4 PM  to 8 PM', '8 PM to 12 AM', '8 AM to 12 PM', '4 AM to 8 AM']

---

# Bill Orders

# Date & Time

In [45]:
gd_day = cafe_data.groupby(['Day', 'Description'])
gd_day.first()

                                                   Date BillNumber      Time  \
Day     Description
domingo 1 AXE TWIST                          2010-06-06   G0480591  19:28:07
        1+1 BTL4 SEASON WHITE                2010-04-11   N0028018  22:05:36
        1+1 GLS 4SEASON RED                  2010-04-04   N0027916  19:19:43
        1+1 GLS 4SEASONS WHITE               2010-04-04   N0027921  21:47:07
        1+1 KF 1 LITER                       2010-09-12   N0030430  13:30:45
        1+1 KF 1/2 LITER                     2010-09-12   N0030431  13:56:39
        1+1 KF 2 LITER                       2010-09-12   N0030443  20:14:18
        1+1 VLN CHENIN BLANC (GLS)           2010-07-04   N0029376  17:18:26
        1+1 VLN SAUV BLANC (GLS)             2010-07-04   N0029380  18:06:14
        1+1 WINE GLASS                       2010-09-12   N0030455  01:00:44
        2 AXE TWIST                          2010-05-16   G0477404  01:13:22
        2 DOM BEER + 1PREM SHEESHA           2011-02-27   N0033521  19:23:12
        2 DOM BEER + 1SPL SHEESHA            2011-02-20   N0033387  18:27:43
        2 RED BULL                           2011-03-20   G0532108  17:46:32
        3 RED BULL                           2011-02-06   G0524942  19:00:03
        3COURSE NON-VEG MEAL                 2010-12-26   G0516797  12:21:04
        3COURSE VEG MEAL                     2010-12-26   G0516928  21:00:25
        4 SEASONS CLAS SYRAH(GLS)            2010-05-30   N0028865  16:07:46
        5 RED BULL                           2011-02-06   G0524880  14:19:32
        ADD CARAMEL FLAVOUR                  2010-04-04   G0470728  18:21:26
        ADD CHICKEN                          2010-08-01   G0490516  22:29:33
        ADD CHICKEN BACON                    2010-08-15   G0493114  15:47:42
        ADD CHICKEN SAUSAGE                  2011-03-13   G0530992  17:31:57
        ADD CINNAMON FLAVOUR                 2010-09-05   G0496965  18:54:57
        ADD COTTAGE CHEESE                   2011-02-20   G0527566  21:00:08
        ADD FRIES                            2010-08-01   G0490379  14:09:44
        ADD GROUND MEAT                      2010-08-01   G0490443  18:05:53
        ADD HAZELNUT FLAVOUR                 2010-08-01   G0490377  13:44:18
        ADD HERB ROAST CHICKEN               2010-05-02   G0475250  21:41:37
        ADD ICE CREAM                        2011-03-06   G0529953  23:52:57
...                                                 ...        ...       ...
viernes VEG FRITTERS                         2010-08-06   G0491495  01:04:55
        VEG PASTA PESTO                      2011-02-04   G0524564  21:36:17
        VEG. CLUB WRAP                       2010-10-01   G0501438  18:48:39
        VEGETABLE PASTA                      2010-12-31   G0518080  02:54:39
        VERTIGO                              2010-09-03   G0496518  13:20:11
        VLN CAB SAUV (BTL)                   2010-08-06   N0029891  01:03:06
        VLN CAB SAUV (GLS)                   2010-08-06   N0029891  01:03:06
        VLN CAB SAUV CLASIQ (BTL)            2011-03-11   N0033707  23:06:16
        VLN CAB SAUV CLASIQ (GLS)            2011-03-11   N0033706  22:57:43
        VLN CHENIN BLANC (BTL)               2011-02-25   N0033490  00:13:47
        VLN CHENIN BLANC (GLS)               2010-12-03   N0031812  22:44:32
        VLN SAUV BLANC (BTL)                 2010-12-03   N0031795  17:49:17
        VLN SAUV BLANC (GLS)                 2010-09-03   N0030285  19:36:58
        VODKA (SM)                           2010-12-31   N0032526  02:20:42
        WAIST WATCHING OMELETTE              2010-06-04   G0480295  21:14:12
        WARM PEPPER & CHICKPEA SALAD         2010-07-09   G0486305  00:54:09
        WHISKEY (SM)                         2010-12-31   N0032516  00:36:42
        WHITE RUM (SM)                       2010-12-31   N0032543  04:38:44
        WHITE SANGRIA (CARAFE)               2010-12-31   N0032487  19:24:30
        WHITE SANGRIA (GLS)                  2010-05-07   N0028484  00:18:36
        WHITE TEA                            2011-02-04   G0524531  19:22:35
        WHITE WINE SHEESHA                   2010-10-01   G0501388  15:29:43
        WILD MUSHROOM LINGUINI               2011-03-04   G0529548  21:31:32
        YEMENI GREAT LAKES (AULAIT)          2010-12-10   G0513641  22:19:39
        YEMENI GREAT LAKES (REG)             2010-09-03   G0496640  20:54:42
        YIN N YANG FONDUE                    2011-02-04   G0524572  22:31:19
        ZERO SIZE SHOT GLS                   2010-07-09   G0486234  20:09:27
        ZINZI RED (GLS)                      2010-04-30   N0028399  23:44:37
        ZINZI WHITE  (GLS)                   2010-05-28   N0028835  01:03:37
        ZINZI WHITE (BTL)                    2010-07-09   N0029472  00:31:51

                                              Quantity  Rate     Tax  \
Day     Description
domingo 1 AXE TWIST                                  1    70   16.63
        1+1 BTL4 SEASON WHITE                        1   900  234.00
        1+1 GLS 4SEASON RED                          1   175   45.50
        1+1 GLS 4SEASONS WHITE                       4   200  208.00
        1+1 KF 1 LITER                               1   225   70.31
        1+1 KF 1/2 LITER                             1   125   39.06
        1+1 KF 2 LITER                               1   400  125.00
        1+1 VLN CHENIN BLANC (GLS)                   1   175   45.50
        1+1 VLN SAUV BLANC (GLS)                     1   175   45.50
        1+1 WINE GLASS                               1   220   57.20
        2 AXE TWIST                                  1   140   33.25
        2 DOM BEER + 1PREM SHEESHA                   1   650  203.13
        2 DOM BEER + 1SPL SHEESHA                    1   500  156.25
        2 RED BULL                                   1   150   35.63
        3 RED BULL                                   1   300   71.25
        3COURSE NON-VEG MEAL                         1   300   71.25
        3COURSE VEG MEAL                             1   250   59.38
        4 SEASONS CLAS SYRAH(GLS)                    1   175   45.50
        5 RED BULL                                   1   450  106.88
        ADD CARAMEL FLAVOUR                          1    25    5.94
        ADD CHICKEN                                  1    30    7.13
        ADD CHICKEN BACON                            1    30    7.13
        ADD CHICKEN SAUSAGE                          1    60   14.25
        ADD CINNAMON FLAVOUR                         1    25    5.94
        ADD COTTAGE CHEESE                           1    25    5.94
        ADD FRIES                                    1    35    8.31
        ADD GROUND MEAT                              1    30    7.13
        ADD HAZELNUT FLAVOUR                         1    25    5.94
        ADD HERB ROAST CHICKEN                       1    30    7.13
        ADD ICE CREAM                                1    40    9.50
...                                                ...   ...     ...
viernes VEG FRITTERS                                 1    85   20.19
        VEG PASTA PESTO                              1   200   47.50
        VEG. CLUB WRAP                               1   155   36.81
        VEGETABLE PASTA                              2   325  154.38
        VERTIGO                                      1   180   42.75
        VLN CAB SAUV (BTL)                           1   800  208.00
        VLN CAB SAUV (GLS)                           1   175   45.50
        VLN CAB SAUV CLASIQ (BTL)                    1  1100  286.00
        VLN CAB SAUV CLASIQ (GLS)                    1   225   58.50
        VLN CHENIN BLANC (BTL)                       1   800  208.00
        VLN CHENIN BLANC (GLS)                       1   175   45.50
        VLN SAUV BLANC (BTL)                         1   800  208.00
        VLN SAUV BLANC (GLS)                         2   175   91.00
        VODKA (SM)                                   4   200  250.00
        WAIST WATCHING OMELETTE                      1   110   26.13
        WARM PEPPER & CHICKPEA SALAD                 1    80   19.00
        WHISKEY (SM)                                 2   200  125.00
        WHITE RUM (SM)                               2   200  125.00
        WHITE SANGRIA (CARAFE)                       1   800  208.00
        WHITE SANGRIA (GLS)                          1   175   45.50
        WHITE TEA                                    1    55   13.06
        WHITE WINE SHEESHA                           1   375  120.00
        WILD MUSHROOM LINGUINI                       1   250   59.38
        YEMENI GREAT LAKES (AULAIT)                  1   185   43.94
        YEMENI GREAT LAKES (REG)                     1   165   39.19
        YIN N YANG FONDUE                            1   210   49.88
        ZERO SIZE SHOT GLS                           1   178   22.25
        ZINZI RED (GLS)                              1   150   39.00
        ZINZI WHITE  (GLS)                           3   150  117.00
        ZINZI WHITE (BTL)                            1   700  182.00

                                              Discount    Total  \
Day     Description
domingo 1 AXE TWIST                                  0    86.63
        1+1 BTL4 SEASON WHITE                        0  1134.00
        1+1 GLS 4SEASON RED                          0   220.50
        1+1 GLS 4SEASONS WHITE                       0  1008.00
        1+1 KF 1 LITER                               0   295.31
        1+1 KF 1/2 LITER                             0   164.06
        1+1 KF 2 LITER                               0   525.00
        1+1 VLN CHENIN BLANC (GLS)                   0   220.50
        1+1 VLN SAUV BLANC (GLS)                     0   220.50
        1+1 WINE GLASS                               0   277.20
        2 AXE TWIST                                  0   173.25
        2 DOM BEER + 1PREM SHEESHA                   0   853.13
        2 DOM BEER + 1SPL SHEESHA                    0   656.25
        2 RED BULL                                   0   185.63
        3 RED BULL                                   0   371.25
        3COURSE NON-VEG MEAL                         0   371.25
        3COURSE VEG MEAL                             0   309.38
        4 SEASONS CLAS SYRAH(GLS)                    0   220.50
        5 RED BULL                                   0   556.88
        ADD CARAMEL FLAVOUR                          0    30.94
        ADD CHICKEN                                  0    37.13
        ADD CHICKEN BACON                            0    37.13
        ADD CHICKEN SAUSAGE                          0    74.25
        ADD CINNAMON FLAVOUR                         0    30.94
        ADD COTTAGE CHEESE                           0    30.94
        ADD FRIES                                    0    43.31
        ADD GROUND MEAT                              0    37.13
        ADD HAZELNUT FLAVOUR                         0    30.94
        ADD HERB ROAST CHICKEN                       0    37.13
        ADD ICE CREAM                                0    49.50
...                                                ...      ...
viernes VEG FRITTERS                                 0   105.19
        VEG PASTA PESTO                              0   247.50
        VEG. CLUB WRAP                               0   191.81
        VEGETABLE PASTA                              0   804.38
        VERTIGO                                      0   222.75
        VLN CAB SAUV (BTL)                           0  1008.00
        VLN CAB SAUV (GLS)                           0   220.50
        VLN CAB SAUV CLASIQ (BTL)                    0  1386.00
        VLN CAB SAUV CLASIQ (GLS)                    0   283.50
        VLN CHENIN BLANC (BTL)                       0  1008.00
        VLN CHENIN BLANC (GLS)                       0   220.50
        VLN SAUV BLANC (BTL)                         0  1008.00
        VLN SAUV BLANC (GLS)                         0   441.00
        VODKA (SM)                                   0  1050.00
        WAIST WATCHING OMELETTE                      0   136.13
        WARM PEPPER & CHICKPEA SALAD                 0    99.00
        WHISKEY (SM)                                 0   525.00
        WHITE RUM (SM)                               0   525.00
        WHITE SANGRIA (CARAFE)                       0  1008.00
        WHITE SANGRIA (GLS)                          0   220.50
        WHITE TEA                                    0    68.06
        WHITE WINE SHEESHA                           0   495.00
        WILD MUSHROOM LINGUINI                       0   309.38
        YEMENI GREAT LAKES (AULAIT)                  0   228.94
        YEMENI GREAT LAKES (REG)                     0   204.19
        YIN N YANG FONDUE                            0   259.88
        ZERO SIZE SHOT GLS                           0   200.25
        ZINZI RED (GLS)                              0   189.00
        ZINZI WHITE  (GLS)                           0   567.00
        ZINZI WHITE (BTL)                            0   882.00

                                                      Category     TimeBucket  \
Day     Description
domingo 1 AXE TWIST                                       MISC  4 PM  to 8 PM
        1+1 BTL4 SEASON WHITE                            WINES  8 PM to 12 AM
        1+1 GLS 4SEASON RED                              WINES  4 PM  to 8 PM
        1+1 GLS 4SEASONS WHITE                           WINES  8 PM to 12 AM
        1+1 KF 1 LITER                                  LIQUOR  12 PM to 4 PM
        1+1 KF 1/2 LITER                                LIQUOR  12 PM to 4 PM
        1+1 KF 2 LITER                                  LIQUOR  8 PM to 12 AM
        1+1 VLN CHENIN BLANC (GLS)                       WINES  4 PM  to 8 PM
        1+1 VLN SAUV BLANC (GLS)                         WINES  4 PM  to 8 PM
        1+1 WINE GLASS                                   WINES  12 AM to 4 AM
        2 AXE TWIST                                   BEVERAGE  12 AM to 4 AM
        2 DOM BEER + 1PREM SHEESHA            LIQUOR & TOBACCO  4 PM  to 8 PM
        2 DOM BEER + 1SPL SHEESHA             LIQUOR & TOBACCO  4 PM  to 8 PM
        2 RED BULL                                    BEVERAGE  4 PM  to 8 PM
        3 RED BULL                                    BEVERAGE  4 PM  to 8 PM
        3COURSE NON-VEG MEAL                              FOOD  12 PM to 4 PM
        3COURSE VEG MEAL                                  FOOD  8 PM to 12 AM
        4 SEASONS CLAS SYRAH(GLS)                        WINES  4 PM  to 8 PM
        5 RED BULL                                    BEVERAGE  12 PM to 4 PM
        ADD CARAMEL FLAVOUR                           BEVERAGE  4 PM  to 8 PM
        ADD CHICKEN                                       FOOD  8 PM to 12 AM
        ADD CHICKEN BACON                                 MISC  12 PM to 4 PM
        ADD CHICKEN SAUSAGE                               FOOD  4 PM  to 8 PM
        ADD CINNAMON FLAVOUR                          BEVERAGE  4 PM  to 8 PM
        ADD COTTAGE CHEESE                                FOOD  8 PM to 12 AM
        ADD FRIES                                         FOOD  12 PM to 4 PM
        ADD GROUND MEAT                                   MISC  4 PM  to 8 PM
        ADD HAZELNUT FLAVOUR                          BEVERAGE  12 PM to 4 PM
        ADD HERB ROAST CHICKEN                            MISC  8 PM to 12 AM
        ADD ICE CREAM                                     FOOD  8 PM to 12 AM
...                                                        ...            ...
viernes VEG FRITTERS                                      FOOD  12 AM to 4 AM
        VEG PASTA PESTO                                   FOOD  8 PM to 12 AM
        VEG. CLUB WRAP                                    FOOD  4 PM  to 8 PM
        VEGETABLE PASTA                                   FOOD  12 AM to 4 AM
        VERTIGO                                           FOOD  12 PM to 4 PM
        VLN CAB SAUV (BTL)                               WINES  12 AM to 4 AM
        VLN CAB SAUV (GLS)                               WINES  12 AM to 4 AM
        VLN CAB SAUV CLASIQ (BTL)                        WINES  8 PM to 12 AM
        VLN CAB SAUV CLASIQ (GLS)                        WINES  8 PM to 12 AM
        VLN CHENIN BLANC (BTL)                           WINES  12 AM to 4 AM
        VLN CHENIN BLANC (GLS)                           WINES  8 PM to 12 AM
        VLN SAUV BLANC (BTL)                             WINES  4 PM  to 8 PM
        VLN SAUV BLANC (GLS)                             WINES  4 PM  to 8 PM
        VODKA (SM)                                      LIQUOR  12 AM to 4 AM
        WAIST WATCHING OMELETTE                           FOOD  8 PM to 12 AM
        WARM PEPPER & CHICKPEA SALAD                      FOOD  12 AM to 4 AM
        WHISKEY (SM)                                    LIQUOR  12 AM to 4 AM
        WHITE RUM (SM)                                  LIQUOR   4 AM to 8 AM
        WHITE SANGRIA (CARAFE)                          LIQUOR  4 PM  to 8 PM
        WHITE SANGRIA (GLS)                             LIQUOR  12 AM to 4 AM
        WHITE TEA                                     BEVERAGE  4 PM  to 8 PM
        WHITE WINE SHEESHA                             TOBACCO  12 PM to 4 PM
        WILD MUSHROOM LINGUINI                            FOOD  8 PM to 12 AM
        YEMENI GREAT LAKES (AULAIT)                   BEVERAGE  8 PM to 12 AM
        YEMENI GREAT LAKES (REG)                      BEVERAGE  8 PM to 12 AM
        YIN N YANG FONDUE                                 FOOD  8 PM to 12 AM
        ZERO SIZE SHOT GLS                         MERCHANDISE  8 PM to 12 AM
        ZINZI RED (GLS)                                 LIQUOR  8 PM to 12 AM
        ZINZI WHITE  (GLS)                              LIQUOR  12 AM to 4 AM
        ZINZI WHITE (BTL)                               LIQUOR  12 AM to 4 AM

                                              Month  Year         Category2  \
Day     Description
domingo 1 AXE TWIST                               4  2010          BEVERAGE
        1+1 BTL4 SEASON WHITE                     4  2010             WINES
        1+1 GLS 4SEASON RED                       9  2010             WINES
        1+1 GLS 4SEASONS WHITE                    5  2010             WINES
        1+1 KF 1 LITER                            5  2010              BEER
        1+1 KF 1/2 LITER                          9  2010              BEER
        1+1 KF 2 LITER                            6  2010              BEER
        1+1 VLN CHENIN BLANC (GLS)                9  2010             WINES
        1+1 VLN SAUV BLANC (GLS)                  9  2010             WINES
        1+1 WINE GLASS                            9  2010             WINES
        2 AXE TWIST                               4  2010          BEVERAGE
        2 DOM BEER + 1PREM SHEESHA                2  2011  LIQUOR & TPBACCO
        2 DOM BEER + 1SPL SHEESHA                 2  2011  LIQUOR & TPBACCO
        2 RED BULL                                3  2011          BEVERAGE
        3 RED BULL                                2  2011          BEVERAGE
        3COURSE NON-VEG MEAL                     11  2010              FOOD
        3COURSE VEG MEAL                         11  2010        FOOD VEGAN
        4 SEASONS CLAS SYRAH(GLS)                 7  2010             WINES
        5 RED BULL                                2  2011          BEVERAGE
        ADD CARAMEL FLAVOUR                       4  2010      BEVERAGE ADD
        ADD CHICKEN                               8  2010         SIDE DISH
        ADD CHICKEN BACON                        11  2010         SIDE DISH
        ADD CHICKEN SAUSAGE                       3  2011         SIDE DISH
        ADD CINNAMON FLAVOUR                      9  2010      BEVERAGE ADD
        ADD COTTAGE CHEESE                        2  2011         SIDE DISH

In [46]:
gd_buckettime = cafe_data.groupby(['Day', 'TimeBucket', 'Description'])
gd_buckettime.first()

                                                                 Date  \
Day     TimeBucket    Description
domingo 12 AM to 4 AM 1+1 KF 1/2 LITER                     2010-09-12
                      1+1 VLN SAUV BLANC (GLS)             2010-06-20
                      1+1 WINE GLASS                       2010-09-12
                      2 AXE TWIST                          2010-05-16
                      3 RED BULL                           2011-02-06
                      5 RED BULL                           2011-02-06
                      ADD COTTAGE CHEESE                   2011-01-23
                      ADD FRIES                            2010-04-04
                      ADD HAZELNUT FLAVOUR                 2010-07-04
                      ADD HERB ROAST CHICKEN               2010-05-02
                      ADD ON S                             2010-07-11
                      ADD VANILLA FLAVOUR                  2010-08-15
                      ADD WHIPPED CREAM                    2010-12-05
                      AL SIKANDARI HOOKAH SINGLE           2011-01-02
                      APPLE CINNAMON MUFFIN                2010-10-10
                      APPLE FLAVOUR SINGLE                 2010-09-12
                      APPLE N CINNAMON CREPES              2010-06-06
                      APPLE PEAR N LIME                    2011-01-23
                      APPLE PIE SHAKE                      2010-05-30
                      APRICOT FLAVOUR SINGLE               2010-05-02
                      ARABIAN MIST                         2010-12-05
                      ASSORTED TAPAS (2)NONVEG             2010-08-01
                      ASSORTED TAPAS(2 )VEG                2010-05-02
                      B.M.T. PANINI                        2010-05-02
                      BAHUT BERRY                          2011-01-23
                      BAILEYS IRISH SHAKE                  2010-04-11
                      BANANA WALNUT MUFFIN                 2010-08-08
                      BEAN N NACHO CHILLI                  2010-08-08
                      BEER HOOKAH                          2011-03-20
                      BERRY BLAST                          2010-08-01
...                                                               ...
viernes 8 PM to 12 AM ULTIMATE HOT CHOCOLATE               2010-10-01
                      VANILLA ICECREAM                     2010-10-01
                      VANILLA LITE SHAKE                   2010-11-12
                      VARLHONA HOT CHOCOLATE               2011-01-14
                      VEG FRITTERS                         2010-08-06
                      VEG PASTA PESTO                      2011-02-04
                      VEG. CLUB WRAP                       2010-09-03
                      VEGETABLE PASTA                      2010-12-31
                      VERTIGO                              2010-12-03
                      VLN CAB SAUV (BTL)                   2010-12-17
                      VLN CAB SAUV (GLS)                   2010-12-10
                      VLN CAB SAUV CLASIQ (BTL)            2011-03-11
                      VLN CAB SAUV CLASIQ (GLS)            2011-03-11
                      VLN CHENIN BLANC (GLS)               2010-12-03
                      VLN SAUV BLANC (BTL)                 2010-11-19
                      VLN SAUV BLANC (GLS)                 2010-08-06
                      VODKA (SM)                           2010-12-31
                      WAIST WATCHING OMELETTE              2010-06-04
                      WARM PEPPER & CHICKPEA SALAD         2010-12-31
                      WHITE RUM (SM)                       2010-12-31
                      WHITE SANGRIA (GLS)                  2011-01-21
                      WHITE TEA                            2011-02-04
                      WHITE WINE SHEESHA                   2011-01-14
                      WILD MUSHROOM LINGUINI               2011-03-04
                      YEMENI GREAT LAKES (AULAIT)          2010-12-10
                      YEMENI GREAT LAKES (REG)             2010-09-03
                      YIN N YANG FONDUE                    2011-02-04
                      ZERO SIZE SHOT GLS                   2010-07-09
                      ZINZI RED (GLS)                      2010-04-30
                      ZINZI WHITE  (GLS)                   2010-04-30

                                                           BillNumber  \
Day     TimeBucket    Description
domingo 12 AM to 4 AM 1+1 KF 1/2 LITER                       N0030453
                      1+1 VLN SAUV BLANC (GLS)               N0029143
                      1+1 WINE GLASS                         N0030455
                      2 AXE TWIST                            G0477404
                      3 RED BULL                             G0525051
                      5 RED BULL                             G0525053
                      ADD COTTAGE CHEESE                     G0522418
                      ADD FRIES                              G0470848
                      ADD HAZELNUT FLAVOUR                   G0485436
                      ADD HERB ROAST CHICKEN                 G0475284
                      ADD ON S                               G0486688
                      ADD VANILLA FLAVOUR                    G0493258
                      ADD WHIPPED CREAM                      G0512789
                      AL SIKANDARI HOOKAH SINGLE             G0518505
                      APPLE CINNAMON MUFFIN                  G0503081
                      APPLE FLAVOUR SINGLE                   G0498151
                      APPLE N CINNAMON CREPES                G0480675
                      APPLE PEAR N LIME                      G0522431
                      APPLE PIE SHAKE                        G0479592
                      APRICOT FLAVOUR SINGLE                 G0475291
                      ARABIAN MIST                           G0512808
                      ASSORTED TAPAS (2)NONVEG               G0490556
                      ASSORTED TAPAS(2 )VEG                  G0475286
                      B.M.T. PANINI                          G0475286
                      BAHUT BERRY                            G0522431
                      BAILEYS IRISH SHAKE                    G0471980
                      BANANA WALNUT MUFFIN                   G0491894
                      BEAN N NACHO CHILLI                    G0491893
                      BEER HOOKAH                            G0532205
                      BERRY BLAST                            G0490556
...                                                               ...
viernes 8 PM to 12 AM ULTIMATE HOT CHOCOLATE                 G0501511
                      VANILLA ICECREAM                       G0501470
                      VANILLA LITE SHAKE                     G0508496
                      VARLHONA HOT CHOCOLATE                 G0520810
                      VEG FRITTERS                           G0491461
                      VEG PASTA PESTO                        G0524564
                      VEG. CLUB WRAP                         G0496647
                      VEGETABLE PASTA                        G0517992
                      VERTIGO                                G0512334
                      VLN CAB SAUV (BTL)                     N0032099
                      VLN CAB SAUV (GLS)                     N0031944
                      VLN CAB SAUV CLASIQ (BTL)              N0033707
                      VLN CAB SAUV CLASIQ (GLS)              N0033706
                      VLN CHENIN BLANC (GLS)                 N0031812
                      VLN SAUV BLANC (BTL)                   N0031504
                      VLN SAUV BLANC (GLS)                   N0029888
                      VODKA (SM)                             N0032495
                      WAIST WATCHING OMELETTE                G0480295
                      WARM PEPPER & CHICKPEA SALAD           G0517955
                      WHITE RUM (SM)                         N0032502
                      WHITE SANGRIA (GLS)                    N0032892
                      WHITE TEA                              G0524565
                      WHITE WINE SHEESHA                     G0520780
                      WILD MUSHROOM LINGUINI                 G0529548
                      YEMENI GREAT LAKES (AULAIT)            G0513641
                      YEMENI GREAT LAKES (REG)               G0496640
                      YIN N YANG FONDUE                      G0524572
                      ZERO SIZE SHOT GLS                     G0486234
                      ZINZI RED (GLS)                        N0028399
                      ZINZI WHITE  (GLS)                     N0028399

                                                                Time  \
Day     TimeBucket    Description
domingo 12 AM to 4 AM 1+1 KF 1/2 LITER                      00:23:07
                      1+1 VLN SAUV BLANC (GLS)              00:40:16
                      1+1 WINE GLASS                        01:00:44
                      2 AXE TWIST                           01:13:22
                      3 RED BULL                            00:47:15
                      5 RED BULL                            00:53:44
                      ADD COTTAGE CHEESE                    00:00:19
                      ADD FRIES                             01:26:31
                      ADD HAZELNUT FLAVOUR                  01:04:48
                      ADD HERB ROAST CHICKEN                00:33:17
                      ADD ON S                              01:21:23
                      ADD VANILLA FLAVOUR                   00:05:00
                      ADD WHIPPED CREAM                     00:14:43
                      AL SIKANDARI HOOKAH SINGLE            00:32:25
                      APPLE CINNAMON MUFFIN                 00:17:14
                      APPLE FLAVOUR SINGLE                  01:11:49
                      APPLE N CINNAMON CREPES               00:12:37
                      APPLE PEAR N LIME                     01:18:00
                      APPLE PIE SHAKE                       00:28:38
                      APRICOT FLAVOUR SINGLE                01:17:13
                      ARABIAN MIST                          01:21:10
                      ASSORTED TAPAS (2)NONVEG              00:53:24
                      ASSORTED TAPAS(2 )VEG                 00:44:41
                      B.M.T. PANINI                         00:44:41
                      BAHUT BERRY                           01:18:00
                      BAILEYS IRISH SHAKE                   01:23:02
                      BANANA WALNUT MUFFIN                  00:39:01
                      BEAN N NACHO CHILLI                   00:37:29
                      BEER HOOKAH                           00:36:15
                      BERRY BLAST                           00:53:24
...                                                              ...
viernes 8 PM to 12 AM ULTIMATE HOT CHOCOLATE                23:50:20
                      VANILLA ICECREAM                      20:52:03
                      VANILLA LITE SHAKE                    23:12:29
                      VARLHONA HOT CHOCOLATE                23:51:13
                      VEG FRITTERS                          22:46:55
                      VEG PASTA PESTO                       21:36:17
                      VEG. CLUB WRAP                        21:31:24
                      VEGETABLE PASTA                       22:12:33
                      VERTIGO                               23:38:09
                      VLN CAB SAUV (BTL)                    22:49:54
                      VLN CAB SAUV (GLS)                    21:27:16
                      VLN CAB SAUV CLASIQ (BTL)             23:06:16
                      VLN CAB SAUV CLASIQ (GLS)             22:57:43
                      VLN CHENIN BLANC (GLS)                22:44:32
                      VLN SAUV BLANC (BTL)                  22:49:01
                      VLN SAUV BLANC (GLS)                  22:46:55
                      VODKA (SM)                            20:51:48
                      WAIST WATCHING OMELETTE               21:14:12
                      WARM PEPPER & CHICKPEA SALAD          20:26:30
                      WHITE RUM (SM)                        21:38:39
                      WHITE SANGRIA (GLS)                   22:29:36
                      WHITE TEA                             22:02:05
                      WHITE WINE SHEESHA                    21:33:08
                      WILD MUSHROOM LINGUINI                21:31:32
                      YEMENI GREAT LAKES (AULAIT)           22:19:39
                      YEMENI GREAT LAKES (REG)              20:54:42
                      YIN N YANG FONDUE                     22:31:19
                      ZERO SIZE SHOT GLS                    20:09:27
                      ZINZI RED (GLS)                       23:44:37
                      ZINZI WHITE  (GLS)                    23:44:37

                                                            Quantity  Rate  \
Day     TimeBucket    Description
domingo 12 AM to 4 AM 1+1 KF 1/2 LITER                             1   125
                      1+1 VLN SAUV BLANC (GLS)                     2   175
                      1+1 WINE GLASS                               1   220
                      2 AXE TWIST                                  1   140
                      3 RED BULL                                   1   300
                      5 RED BULL                                   1   450
                      ADD COTTAGE CHEESE                           1    25
                      ADD FRIES                                    2    35
                      ADD HAZELNUT FLAVOUR                         2    25
                      ADD HERB ROAST CHICKEN                       1    30
                      ADD ON S                                     1    15
                      ADD VANILLA FLAVOUR                          1    25
                      ADD WHIPPED CREAM                            2    30
                      AL SIKANDARI HOOKAH SINGLE                   1   295
                      APPLE CINNAMON MUFFIN                        1    55
                      APPLE FLAVOUR SINGLE                         1   225
                      APPLE N CINNAMON CREPES                      1   130
                      APPLE PEAR N LIME                            1    95
                      APPLE PIE SHAKE                              1   135
                      APRICOT FLAVOUR SINGLE                       1   225
                      ARABIAN MIST                                 1   350
                      ASSORTED TAPAS (2)NONVEG                     1   330
                      ASSORTED TAPAS(2 )VEG                        1   275
                      B.M.T. PANINI                                1   105
                      BAHUT BERRY                                  1   120
                      BAILEYS IRISH SHAKE                          1   180
                      BANANA WALNUT MUFFIN                         1    55
                      BEAN N NACHO CHILLI                          1   135
                      BEER HOOKAH                                  1   500
                      BERRY BLAST                                  1    95
...                                                              ...   ...
viernes 8 PM to 12 AM ULTIMATE HOT CHOCOLATE                       1    95
                      VANILLA ICECREAM                             2    30
                      VANILLA LITE SHAKE                           2   115
                      VARLHONA HOT CHOCOLATE                       1   180
                      VEG FRITTERS                                 1    85
                      VEG PASTA PESTO                              1   200
                      VEG. CLUB WRAP                               1   155
                      VEGETABLE PASTA                              1   325
                      VERTIGO                                      1   180
                      VLN CAB SAUV (BTL)                           1   800
                      VLN CAB SAUV (GLS)                           1   175
                      VLN CAB SAUV CLASIQ (BTL)                    1  1100
                      VLN CAB SAUV CLASIQ (GLS)                    1   225
                      VLN CHENIN BLANC (GLS)                       1   175
                      VLN SAUV BLANC (BTL)                         1   800
                      VLN SAUV BLANC (GLS)                         1   175
                      VODKA (SM)                                   2   200
                      WAIST WATCHING OMELETTE                      1   110
                      WARM PEPPER & CHICKPEA SALAD                 1   175
                      WHITE RUM (SM)                               2   200
                      WHITE SANGRIA (GLS)                          1   175
                      WHITE TEA                                    1    55
                      WHITE WINE SHEESHA                           1   450
                      WILD MUSHROOM LINGUINI                       1   250
                      YEMENI GREAT LAKES (AULAIT)                  1   185
                      YEMENI GREAT LAKES (REG)                     1   165
                      YIN N YANG FONDUE                            1   210
                      ZERO SIZE SHOT GLS                           1   178
                      ZINZI RED (GLS)                              1   150
                      ZINZI WHITE  (GLS)                           1   150

                                                               Tax  Discount  \
Day     TimeBucket    Description
domingo 12 AM to 4 AM 1+1 KF 1/2 LITER                       39.06         0
                      1+1 VLN SAUV BLANC (GLS)               91.00         0
                      1+1 WINE GLASS                         57.20         0
                      2 AXE TWIST                            33.25         0
                      3 RED BULL                             71.25         0
                      5 RED BULL                            106.88         0
                      ADD COTTAGE CHEESE                      5.94         0
                      ADD FRIES                              16.63         0
                      ADD HAZELNUT FLAVOUR                   11.88         0
                      ADD HERB ROAST CHICKEN                  7.13         0
                      ADD ON S                                3.56         0
                      ADD VANILLA FLAVOUR                     5.94         0
                      ADD WHIPPED CREAM                      14.25         0
                      AL SIKANDARI HOOKAH SINGLE             94.40         0
                      APPLE CINNAMON MUFFIN                  13.06         0
                      APPLE FLAVOUR SINGLE                   72.00         0
                      APPLE N CINNAMON CREPES                30.88         0
                      APPLE PEAR N LIME                      22.56         0
                      APPLE PIE SHAKE                        32.06         0
                      APRICOT FLAVOUR SINGLE                 72.00         0
                      ARABIAN MIST                          112.00         0
                      ASSORTED TAPAS (2)NONVEG               78.38         0
                      ASSORTED TAPAS(2 )VEG                  65.31         0
                      B.M.T. PANINI                          24.94         0
                      BAHUT BERRY                            28.50         0
                      BAILEYS IRISH SHAKE                    42.75         0
                      BANANA WALNUT MUFFIN                   13.06         0

In [47]:
# Check sales by time of the day bucket.
buckets_group = cafe_data['TimeBucket'].value_counts()
buckets_group

8 PM to 12 AM    50723
4 PM  to 8 PM    48052
12 PM to 4 PM    27513
12 AM to 4 AM    16094
8 AM to 12 PM     3375
4 AM to 8 AM        73
Name: TimeBucket, dtype: int64

---

# PROFITABILITY ANALYSIS

In [48]:
#Create Profits Columns
cafe_data['Profits'] = (cafe_data['Rate'] - cafe_data['Cost'])
cafe_data.head()

,Date,BillNumber,Description,Time,Quantity,Rate,Tax,Discount,Total,Category,Day,TimeBucket,Month,Year,Category2,Cost,Profits
0,2010-04-01,G0470115,QUA MINERAL WATER(1000ML),13:15:11,1,50,11.88,0,61.88,BEVERAGE,jueves,12 PM to 4 PM,4,2010,BEVERAGE,33.333333,16.666667
1,2010-04-01,G0470115,MONSOON MALABAR (AULAIT),13:15:11,1,100,23.75,0,123.75,BEVERAGE,jueves,12 PM to 4 PM,4,2010,COFFEE,58.823529,41.176471
2,2010-04-01,G0470116,MASALA CHAI CUTTING,13:17:35,1,40,9.50,0,49.50,BEVERAGE,jueves,12 PM to 4 PM,4,2010,COFFEE,23.529412,16.470588
3,2010-04-01,G0470117,QUA MINERAL WATER(1000ML),13:19:55,1,50,11.88,0,61.88,BEVERAGE,jueves,12 PM to 4 PM,4,2010,BEVERAGE,33.333333,16.666667
4,2010-04-01,G0470283,MOROCCAN MINT TEA,01:20:18,1,45,10.69,0,55.69,BEVERAGE,jueves,12 AM to 4 AM,4,2010,TEA,25.000000,20.000000

In [49]:
#Visualize categories profitability (high to low)
categories_2 = cafe_data.groupby(['Category2']).sum().reset_index()
categories_2 = categories_2.drop(['Month', 'Year'], axis = 1)
#categories_2.div(1000000)
categories_2.sort_values('Rate', ascending=False)

,Category2,Quantity,Rate,Tax,Discount,Total,Cost,Profits
22,TOBACCO,37563,10790558,3.537108e+06,797,1.460026e+07,2.066155e+06,8.724403e+06
8,FOOD,18794,2579663,6.532878e+05,2962,3.402311e+06,1.948575e+06,6.310876e+05
19,SHAKES,17623,2154030,5.708647e+05,1050,2.975520e+06,1.421840e+06,7.321900e+05
1,BEVERAGE,18952,1729313,4.536183e+05,1438,2.362909e+06,1.143205e+06,5.861077e+05
6,COFFEE,19032,1125680,3.209006e+05,350,1.672346e+06,6.492647e+05,4.764153e+05
0,BEER,10157,1028667,4.943689e+05,1771,2.078120e+06,3.469940e+05,6.816730e+05
16,PANINI,10012,1003855,2.584772e+05,2178,1.348942e+06,6.818233e+05,3.220317e+05
7,DESSERT,7462,768979,1.962740e+05,690,1.020623e+06,5.487814e+05,2.201976e+05
21,TEA,7440,441355,1.267323e+05,256,6.491773e+05,2.439972e+05,1.973578e+05
15,NOODLES,2719,323590,8.154083e+04,328,4.251708e+05,2.486962e+05,7.489385e+04
3,BEVERAGE HOT,2581,252485,6.675058e+04,25,3.478306e+05,1.675100e+05,8.497500e+04
9,FOOD VEGAN,1563,247110,6.194740e+04,707,3.234824e+05,2.050292e+05,4.208083e+04
23,WINES,1155,241267,7.766002e+04,325,3.762531e+05,8.009833e+04,1.611687e+05
4,BREAKFAST,1795,201551,5.150239e+04,52,2.683924e+05,1.425757e+05,5.897529e+04
2,BEVERAGE ADD,1214,184390,5.655310e+04,2,2.433581e+05,9.222750e+04,9.216250e+04
17,PASTA,932,146405,3.647242e+04,347,1.903724e+05,1.120231e+05,3.438192e+04
12,MERCHANDISE,552,100154,1.137565e+04,459,1.217803e+05,6.583067e+04,3.432333e+04
18,SALAD,666,72735,1.808288e+04,26,9.424288e+04,4.762667e+04,2.510833e+04
5,BURGER,400,69250,1.844053e+04,30,9.611553e+04,4.939286e+04,1.985714e+04
20,SIDE DISH,2165,57685,1.601342e+04,21,8.346342e+04,3.383529e+04,2.384971e+04
14,MUFFINS,580,32122,8.209780e+03,0,4.278178e+04,2.294429e+04,9.177714e+03
11,LIQUOR & TPBACCO,63,27800,1.026152e+04,50,4.256152e+04,6.177778e+03,2.162222e+04
13,MISC,45,8200,5.195250e+03,0,2.439525e+04,5.466667e+03,2.733333e+03
10,LIQUOR,54,5900,3.687500e+03,0,1.548750e+04,1.475000e+03,4.425000e+03

In [50]:
type(categories_2)

pandas.core.frame.DataFrame

In [51]:
# Transform values into a more readable view
categories_2['Rate_000s'] = categories_2['Rate']/(1000)
categories_2['Tax_000s'] = categories_2['Tax']/(1000)
categories_2['Discount_000s'] = categories_2['Discount']/(1000)
categories_2['Total_000s'] = categories_2['Total']/(1000)
categories_2['Cost_000s'] = categories_2['Cost']/(1000)
categories_2['Profits_000s'] = categories_2['Profits']/(1000)
categories2_K = categories_2[['Category2', 'Quantity', 'Rate_000s', 'Tax_000s', 'Discount_000s', 'Total_000s', 'Cost_000s', 'Profits_000s' ]]
categories2_K.sort_values('Profits_000s', ascending=False)

,Category2,Quantity,Rate_000s,Tax_000s,Discount_000s,Total_000s,Cost_000s,Profits_000s
22,TOBACCO,37563,10790.558,3537.10794,0.797,14600.25954,2066.155000,8724.403000
19,SHAKES,17623,2154.030,570.86466,1.050,2975.51966,1421.840000,732.190000
0,BEER,10157,1028.667,494.36891,1.771,2078.11991,346.994000,681.673000
8,FOOD,18794,2579.663,653.28775,2.962,3402.31080,1948.575385,631.087615
1,BEVERAGE,18952,1729.313,453.61827,1.438,2362.90927,1143.205333,586.107667
6,COFFEE,19032,1125.680,320.90059,0.350,1672.34559,649.264706,476.415294
16,PANINI,10012,1003.855,258.47720,2.178,1348.94220,681.823333,322.031667
7,DESSERT,7462,768.979,196.27400,0.690,1020.62300,548.781429,220.197571
21,TEA,7440,441.355,126.73231,0.256,649.17731,243.997222,197.357778
23,WINES,1155,241.267,77.66002,0.325,376.25312,80.098333,161.168667
2,BEVERAGE ADD,1214,184.390,56.55310,0.002,243.35810,92.227500,92.162500
3,BEVERAGE HOT,2581,252.485,66.75058,0.025,347.83058,167.510000,84.975000
15,NOODLES,2719,323.590,81.54083,0.328,425.17083,248.696154,74.893846
4,BREAKFAST,1795,201.551,51.50239,0.052,268.39239,142.575714,58.975286
9,FOOD VEGAN,1563,247.110,61.94740,0.707,323.48240,205.029167,42.080833
17,PASTA,932,146.405,36.47242,0.347,190.37242,112.023077,34.381923
12,MERCHANDISE,552,100.154,11.37565,0.459,121.78027,65.830667,34.323333
18,SALAD,666,72.735,18.08288,0.026,94.24288,47.626667,25.108333
20,SIDE DISH,2165,57.685,16.01342,0.021,83.46342,33.835294,23.849706
11,LIQUOR & TPBACCO,63,27.800,10.26152,0.050,42.56152,6.177778,21.622222
5,BURGER,400,69.250,18.44053,0.030,96.11553,49.392857,19.857143
14,MUFFINS,580,32.122,8.20978,0.000,42.78178,22.944286,9.177714
10,LIQUOR,54,5.900,3.68750,0.000,15.48750,1.475000,4.425000
13,MISC,45,8.200,5.19525,0.000,24.39525,5.466667,2.733333

In [52]:
# Perform an analysis by time bucket
time_bkts = cafe_data.groupby(['TimeBucket'])
profits_by_bkt = time_bkts['Profits'].sum()/1000
profits_by_bkt

TimeBucket
12 AM to 4 AM    1586.023041
12 PM to 4 PM    2394.647648
4 AM to 8 AM        9.730955
4 PM  to 8 PM    4368.679266
8 AM to 12 PM     236.256720
8 PM to 12 AM    4665.860802
Name: Profits, dtype: float64

In [53]:
grp_products = cafe_data.groupby(['Category2', 'TimeBucket']).sum().reset_index()
grp_products = grp_products.drop(['Month', 'Year', 'Rate', 'Tax', 'Discount'], axis=1)
grp_products.sort_values('Total', ascending=False)
print(grp_products)

        Category2     TimeBucket  Quantity       Total           Cost  \
0            BEER  12 AM to 4 AM      1770   380736.66   61841.666667
1            BEER  12 PM to 4 PM       957   179029.54   30911.666667
2            BEER   4 AM to 8 AM         9     2067.20     246.666667
3            BEER  4 PM  to 8 PM      2636   523044.30   89836.666667
4            BEER  8 AM to 12 PM        40     7172.79    1538.333333
5            BEER  8 PM to 12 AM      4745   986069.42  162619.000000
6        BEVERAGE  12 AM to 4 AM      2217   285710.84  133026.666667
7        BEVERAGE  12 PM to 4 PM      3764   443698.77  216986.666667
8        BEVERAGE   4 AM to 8 AM        10     1231.32     423.333333
9        BEVERAGE  4 PM  to 8 PM      6366   805911.04  393206.000000
10       BEVERAGE  8 AM to 12 PM       419    43845.42   21750.000000
11       BEVERAGE  8 PM to 12 AM      6176   782511.88  377812.666667
12   BEVERAGE ADD  12 AM to 4 AM       137    27759.45   10520.000000
13   BEVERAGE ADD  12 PM to 4 PM       206    43715.03   16615.000000
14   BEVERAGE ADD  4 PM  to 8 PM       451    95867.87   36217.500000
15   BEVERAGE ADD  8 AM to 12 PM        32     3314.51    1242.500000
16   BEVERAGE ADD  8 PM to 12 AM       388    72701.24   27632.500000
17   BEVERAGE HOT  12 AM to 4 AM       347    49363.98   23346.666667
18   BEVERAGE HOT  12 PM to 4 PM       361    48305.73   24083.333333
19   BEVERAGE HOT  4 PM  to 8 PM       863   113918.00   54536.666667
20   BEVERAGE HOT  8 AM to 12 PM        76    10011.34    4936.666667
21   BEVERAGE HOT  8 PM to 12 AM       934   126231.53   60606.666667
22      BREAKFAST  12 AM to 4 AM       105    15762.86    8214.285714
23      BREAKFAST  12 PM to 4 PM       553    83194.36   43395.000000
24      BREAKFAST  4 PM  to 8 PM       387    56449.24   30721.428571
25      BREAKFAST  8 AM to 12 PM       256    37166.27   18934.285714
26      BREAKFAST  8 PM to 12 AM       494    75819.66   41310.714286
27         BURGER  12 AM to 4 AM        41     9683.41    4892.857143
28         BURGER  12 PM to 4 PM        95    23076.97   11892.857143
29         BURGER  4 PM  to 8 PM       116    27689.00   14589.285714
..            ...            ...       ...         ...            ...
99          SALAD  8 PM to 12 AM       278    38907.47   19506.666667
100        SHAKES  12 AM to 4 AM      1927   331704.72  155996.666667
101        SHAKES  12 PM to 4 PM      3101   516752.66  247666.666667
102        SHAKES   4 AM to 8 AM         2      272.26     146.666667
103        SHAKES  4 PM  to 8 PM      6387  1070604.20  512843.333333
104        SHAKES  8 AM to 12 PM       337    54498.16   25213.333333
105        SHAKES  8 PM to 12 AM      5869  1001687.66  479973.333333
106     SIDE DISH  12 AM to 4 AM       177     6276.03    2376.470588
107     SIDE DISH  12 PM to 4 PM       527    20604.07    8294.117647
108     SIDE DISH   4 AM to 8 AM         3     1051.88     500.000000
109     SIDE DISH  4 PM  to 8 PM       558    21897.18    9364.705882
110     SIDE DISH  8 AM to 12 PM        48     1602.54     694.117647
111     SIDE DISH  8 PM to 12 AM       852    32031.72   12605.882353
112           TEA  12 AM to 4 AM       833    68658.12   24791.666667
113           TEA  12 PM to 4 PM      1318   116674.07   43630.555556
114           TEA   4 AM to 8 AM         2      210.38      47.222222
115           TEA  4 PM  to 8 PM      2517   220818.22   83113.888889
116           TEA  8 AM to 12 PM       157    12220.52    4775.000000
117           TEA  8 PM to 12 AM      2613   230596.00   87638.888889
118       TOBACCO  12 AM to 4 AM      4550  1751482.14  243557.400000
119       TOBACCO  12 PM to 4 PM      7213  2713201.42  389411.600000
120       TOBACCO   4 AM to 8 AM        21    11188.28    1599.200000
121       TOBACCO  4 PM  to 8 PM     12429  4913879.70  694671.400000
122       TOBACCO  8 AM to 12 PM       658   240817.80   34502.200000
123       TOBACCO  8 PM to 12 AM     12692  4969690.20  702413.200000
124         WINES  12 AM to 4 AM       250    96586.19   19628.666667
125         WINES  12 PM to 4 PM        72    19845.26    4093.666667
126         WINES  4 PM  to 8 PM       198    64578.28   14368.333333
127         WINES  8 AM to 12 PM         2      409.50     108.333333
128         WINES  8 PM to 12 AM       633   194833.89   41899.333333

          Profits
0    1.204383e+05
1    6.116333e+04
2    9.783333e+02
3    1.769183e+05
4    3.031667e+03
5    3.191430e+05
6    6.896333e+04
7    1.108233e+05
8    3.116667e+02
9    2.010430e+05
10   1.150000e+04
11   1.934663e+05
12   1.050500e+04
13   1.660000e+04
14   3.621250e+04
15   1.242500e+03
16   2.760250e+04
17   1.136833e+04
18   1.194167e+04
19   2.808833e+04
20   2.403333e+03
21   3.117333e+04
22   3.455714e+03
23   1.804800e+04
24   1.266357e+04
25   7.863714e+03
26   1.694429e+04
27   1.957143e+03
28   4.757143e+03
29   5.835714e+03
..            ...
99   1.038333e+04
100  7.944833e+04
101  1.290583e+05
102  7.333333e+01
103  2.646517e+05
104  1.302667e+04
105  2.459317e+05
106  1.783529e+03
107  5.840882e+03
108  3.500000e+02
109  6.555294e+03
110  4.808824e+02
111  8.839118e+03
112  2.008833e+04
113  3.519444e+04
114  3.777778e+01
115  6.713111e+04
116  3.890000e+03
117  7.101611e+04
118  1.029300e+06
119  1.633146e+06
120  6.471800e+03
121  2.935605e+06
122  1.458888e+05
123  2.973992e+06
124  4.018933e+04
125  8.381333e+03
126  2.860967e+04
127  2.166667e+02
128  8.377167e+04

[129 rows x 6 columns]

In [54]:
tobacco_analysis = cafe_data.loc[cafe_data['Category2'] == 'TOBACCO']
tobacco_time = tobacco_analysis.groupby(['TimeBucket']).sum().reset_index()
tobacco_time.sort_values('Profits', ascending=False)

,TimeBucket,Quantity,Rate,Tax,Discount,Total,Month,Year,Cost,Profits
5,8 PM to 12 AM,12692,3676405,1203900.40,706,4969690.20,82705,24925235,702413.2,2973991.8
3,4 PM to 8 PM,12429,3630276,1191022.20,0,4913879.70,80179,24404425,694671.4,2935604.6
1,12 PM to 4 PM,7213,2022558,657590.42,91,2713201.42,49342,14272577,389411.6,1633146.4
0,12 AM to 4 AM,4550,1272857,423575.84,0,1751482.14,30216,8754639,243557.4,1029299.6
4,8 AM to 12 PM,658,180391,58350.80,0,240817.80,4393,1304658,34502.2,145888.8
2,4 AM to 8 AM,21,8071,2668.28,0,11188.28,210,40200,1599.2,6471.8

In [55]:
shakes_analysis = cafe_data.loc[cafe_data['Category2'] == 'SHAKES']
shakes_time = shakes_analysis.groupby(['TimeBucket']).sum().reset_index()
shakes_time.sort_values('Profits', ascending=False)

,TimeBucket,Quantity,Rate,Tax,Discount,Total,Month,Year,Cost,Profits
3,4 PM to 8 PM,6387,777495,205459.20,67,1070604.20,37843,11488374,512843.333333,264651.666667
5,8 PM to 12 AM,5869,725905,192152.66,481,1001687.66,33758,10517530,479973.333333,245931.666667
1,12 PM to 4 PM,3101,376725,99157.66,96,516752.66,18866,5594477,247666.666667,129058.333333
0,12 AM to 4 AM,1927,235445,63589.72,373,331704.72,11388,3377159,155996.666667,79448.333333
4,8 AM to 12 PM,337,38240,10453.16,33,54498.16,2031,582966,25213.333333,13026.666667
2,4 AM to 8 AM,2,220,52.26,0,272.26,24,4020,146.666667,73.333333

In [56]:
beer_analysis = cafe_data.loc[cafe_data['Category2'] == 'BEER']
beer_time = beer_analysis.groupby(['TimeBucket']).sum().reset_index()
beer_time.sort_values('Profits', ascending=False)

,TimeBucket,Quantity,Rate,Tax,Discount,Total,Month,Year,Cost,Profits
5,8 PM to 12 AM,4745,481762,234553.42,946,986069.42,18641,5664922,162619.000000,319143.000000
3,4 PM to 8 PM,2636,266755,124534.30,0,523044.30,11275,3290739,89836.666667,176918.333333
0,12 AM to 4 AM,1770,182280,90651.66,0,380736.66,6863,2044427,61841.666667,120438.333333
1,12 PM to 4 PM,957,92075,42429.54,825,179029.54,3778,1210164,30911.666667,61163.333333
4,8 AM to 12 PM,40,4570,1707.79,0,7172.79,193,64329,1538.333333,3031.666667
2,4 AM to 8 AM,9,1225,492.20,0,2067.20,84,14070,246.666667,978.333333

---

# BY DATE

In [57]:
cafe_data.head()

,Date,BillNumber,Description,Time,Quantity,Rate,Tax,Discount,Total,Category,Day,TimeBucket,Month,Year,Category2,Cost,Profits
0,2010-04-01,G0470115,QUA MINERAL WATER(1000ML),13:15:11,1,50,11.88,0,61.88,BEVERAGE,jueves,12 PM to 4 PM,4,2010,BEVERAGE,33.333333,16.666667
1,2010-04-01,G0470115,MONSOON MALABAR (AULAIT),13:15:11,1,100,23.75,0,123.75,BEVERAGE,jueves,12 PM to 4 PM,4,2010,COFFEE,58.823529,41.176471
2,2010-04-01,G0470116,MASALA CHAI CUTTING,13:17:35,1,40,9.50,0,49.50,BEVERAGE,jueves,12 PM to 4 PM,4,2010,COFFEE,23.529412,16.470588
3,2010-04-01,G0470117,QUA MINERAL WATER(1000ML),13:19:55,1,50,11.88,0,61.88,BEVERAGE,jueves,12 PM to 4 PM,4,2010,BEVERAGE,33.333333,16.666667
4,2010-04-01,G0470283,MOROCCAN MINT TEA,01:20:18,1,45,10.69,0,55.69,BEVERAGE,jueves,12 AM to 4 AM,4,2010,TEA,25.000000,20.000000

In [58]:
category_top10 = categories2_K.sort_values('Profits_000s', ascending=False).head(10)

In [59]:
#Visualize categories profitability (high to low)
by_date = cafe_data.groupby(['Date', 'Category2']).sum().reset_index()
by_date = by_date.drop(['Month', 'Year'], axis = 1)
#categories_2.div(1000000)
by_date.sort_values('Rate', ascending=False)
by_date.head()

,Date,Category2,Quantity,Rate,Tax,Discount,Total,Cost,Profits
0,2010-04-01,BEER,27,1320,906.25,0,3806.25,440.000000,880.000000
1,2010-04-01,BEVERAGE,40,3155,749.43,0,3904.43,2103.333333,1051.666667
2,2010-04-01,BEVERAGE ADD,2,135,32.07,0,167.07,67.500000,67.500000
3,2010-04-01,BEVERAGE HOT,4,380,90.24,0,470.24,253.333333,126.666667
4,2010-04-01,BREAKFAST,7,660,210.20,0,1095.20,471.428571,188.571429

In [60]:
topis = ['BEER', 'BEVERAGE', 'COFFEE', 'DESSERT', 'FOOD', 'PANINI', 'SHAKES', 'TEA', 'TOBACCO', 'WINES']

In [61]:
by_date = by_date.rename(columns={'Category2':'Category'})
by_date.head()

,Date,Category,Quantity,Rate,Tax,Discount,Total,Cost,Profits
0,2010-04-01,BEER,27,1320,906.25,0,3806.25,440.000000,880.000000
1,2010-04-01,BEVERAGE,40,3155,749.43,0,3904.43,2103.333333,1051.666667
2,2010-04-01,BEVERAGE ADD,2,135,32.07,0,167.07,67.500000,67.500000
3,2010-04-01,BEVERAGE HOT,4,380,90.24,0,470.24,253.333333,126.666667
4,2010-04-01,BREAKFAST,7,660,210.20,0,1095.20,471.428571,188.571429

---

# Get data for each Category: Profit and Date.

In [62]:
top_bydate = by_date.loc[by_date['Category'] == 'BEER']
top_bydate = top_bydate.drop(['Category', 'Quantity', 'Rate', 'Tax', 'Discount', 'Total', 'Cost'], axis = 1)
#top_bydate.to_csv('BeerDates.csv', index=False, header=True)
#top_bydate.to_json('BeerDates.json', orient='records')

In [63]:
top_bydate = by_date.loc[by_date['Category'] == 'BEVERAGE']
top_bydate = top_bydate.drop(['Category', 'Quantity', 'Rate', 'Tax', 'Discount', 'Total', 'Cost'], axis = 1)
#top_bydate.to_csv('BeverageDates.csv', index=False, header=True)
#top_bydate.to_json('BeverageDates.json', orient='records')

In [64]:
top_bydate = by_date.loc[by_date['Category'] == 'COFFEE']
top_bydate = top_bydate.drop(['Category', 'Quantity', 'Rate', 'Tax', 'Discount', 'Total', 'Cost'], axis = 1)
#top_bydate.to_csv('CoffeeDates.csv', index=False, header=True)
#top_bydate.to_json('CoffeeDates.json', orient='records')

In [65]:
top_bydate = by_date.loc[by_date['Category'] == 'DESSERT']
top_bydate = top_bydate.drop(['Category', 'Quantity', 'Rate', 'Tax', 'Discount', 'Total', 'Cost'], axis = 1)
#top_bydate.to_csv('DessertDates.csv', index=False, header=True)
#top_bydate.to_json('DessertDates.json', orient='records')

In [66]:
top_bydate = by_date.loc[by_date['Category'] == 'FOOD']
top_bydate = top_bydate.drop(['Category', 'Quantity', 'Rate', 'Tax', 'Discount', 'Total', 'Cost'], axis = 1)
#top_bydate.to_csv('FoodDates.csv', index=False, header=True)
#top_bydate.to_json('FoodDates.json', orient='records')

In [67]:
top_bydate = by_date.loc[by_date['Category'] == 'PANINI']
top_bydate = top_bydate.drop(['Category', 'Quantity', 'Rate', 'Tax', 'Discount', 'Total', 'Cost'], axis = 1)
#top_bydate.to_csv('PaniniDates.csv', index=False, header=True)
#top_bydate.to_json('PaniniDates.json', orient='records')

In [68]:
top_bydate = by_date.loc[by_date['Category'] == 'SHAKES']
top_bydate = top_bydate.drop(['Category', 'Quantity', 'Rate', 'Tax', 'Discount', 'Total', 'Cost'], axis = 1)
#top_bydate.to_csv('ShakesDates.csv', index=False, header=True)
#top_bydate.to_json('ShakesDates.json', orient='records')

In [69]:
top_bydate = by_date.loc[by_date['Category'] == 'TEA']
top_bydate = top_bydate.drop(['Category', 'Quantity', 'Rate', 'Tax', 'Discount', 'Total', 'Cost'], axis = 1)
#top_bydate.to_csv('TeaDates.csv', index=False, header=True)
#top_bydate.to_json('TeaDates.json', orient='records')

In [70]:
top_bydate = by_date.loc[by_date['Category'] == 'TOBACCO']
top_bydate = top_bydate.drop(['Category', 'Quantity', 'Rate', 'Tax', 'Discount', 'Total', 'Cost'], axis = 1)
#top_bydate.to_csv('TobaccoDates.csv', index=False, header=True)
#top_bydate.to_json('TobaccoDates.json', orient='records')

In [71]:
top_bydate = by_date.loc[by_date['Category'] == 'WINES']
top_bydate = top_bydate.drop(['Category', 'Quantity', 'Rate', 'Tax', 'Discount', 'Total', 'Cost'], axis = 1)
#top_bydate.to_csv('WineDates.csv', index=False, header=True)
#top_bydate.to_json('WineDates.json', orient='records')

---

# TOP 10 Per Category

In [72]:
tobacco2 = cafe_data.loc[cafe_data['Category2'] == 'TOBACCO']
tobacco2.head()

,Date,BillNumber,Description,Time,Quantity,Rate,Tax,Discount,Total,Category,Day,TimeBucket,Month,Year,Category2,Cost,Profits
272,2010-04-01,G0470116,MINT FLAVOUR SINGLE,13:17:35,1,225,72.0,0,297.0,TOBACCO,jueves,12 PM to 4 PM,4,2010,TOBACCO,45.0,180.0
273,2010-04-01,G0470283,NIRVANA HOOKAH SINGLE,01:20:18,1,245,78.4,0,323.4,TOBACCO,jueves,12 AM to 4 AM,4,2010,TOBACCO,49.0,196.0
274,2010-04-01,G0470119,RED WINE SHEESHA,13:29:21,1,375,120.0,0,495.0,TOBACCO,jueves,12 PM to 4 PM,4,2010,TOBACCO,75.0,300.0
275,2010-04-01,G0470284,NIRVANA HOOKAH SINGLE,01:29:38,1,245,78.4,0,323.4,TOBACCO,jueves,12 AM to 4 AM,4,2010,TOBACCO,49.0,196.0
276,2010-04-01,G0470284,RABAT HOOKAH SINGLE,01:29:38,1,295,94.4,0,389.4,TOBACCO,jueves,12 AM to 4 AM,4,2010,TOBACCO,59.0,236.0

---

# GET TOP 10 GRAL PRODUCTS

In [73]:
category_top10 = categories2_K.sort_values('Profits_000s', ascending=False).head(10)

In [74]:
category_top10

,Category2,Quantity,Rate_000s,Tax_000s,Discount_000s,Total_000s,Cost_000s,Profits_000s
22,TOBACCO,37563,10790.558,3537.10794,0.797,14600.25954,2066.155000,8724.403000
19,SHAKES,17623,2154.030,570.86466,1.050,2975.51966,1421.840000,732.190000
0,BEER,10157,1028.667,494.36891,1.771,2078.11991,346.994000,681.673000
8,FOOD,18794,2579.663,653.28775,2.962,3402.31080,1948.575385,631.087615
1,BEVERAGE,18952,1729.313,453.61827,1.438,2362.90927,1143.205333,586.107667
6,COFFEE,19032,1125.680,320.90059,0.350,1672.34559,649.264706,476.415294
16,PANINI,10012,1003.855,258.47720,2.178,1348.94220,681.823333,322.031667
7,DESSERT,7462,768.979,196.27400,0.690,1020.62300,548.781429,220.197571
21,TEA,7440,441.355,126.73231,0.256,649.17731,243.997222,197.357778
23,WINES,1155,241.267,77.66002,0.325,376.25312,80.098333,161.168667

In [75]:
category_top10 = category_top10.rename(columns={'Category2':'Category'})

In [76]:
category_top10 = category_top10.rename(columns={'Profits_000s':'Profit'})

In [77]:
#category_top10.to_csv('Top10Sells.csv', index=False, header=True)

---

# BUILD DFs for each product

In [119]:
tobacco2_top

NIRVANA HOOKAH SINGLE             8553
MINT FLAVOUR SINGLE               5817
SAMBUCA                           4425
CALCUTTA MINT                     3318
GREEN APPLE FLAVOUR SINGLE        2528
N R G  HOOKAH                     2252
SILVER APPLE SINGLE               1971
ARABIAN MIST                      1206
MISCHIEF HOOKAH SINGLE             814
RED WINE SHEESHA                   775
Name: Description, dtype: int64

In [122]:
# Tobacco
tobacco_df = pd.DataFrame(tobacco2_top)
tobacco_df.reset_index(level=0, inplace=True)
tobacco_df = tob_df.rename(columns={'index':'product', 'Description':'quantity'})
tobacco_df

                          product  quantity
0  NIRVANA HOOKAH SINGLE               8553
1  MINT FLAVOUR SINGLE                 5817
2  SAMBUCA                             4425
3  CALCUTTA MINT                       3318
4  GREEN APPLE FLAVOUR SINGLE          2528
5  N R G  HOOKAH                       2252
6  SILVER APPLE SINGLE                 1971
7  ARABIAN MIST                        1206
8  MISCHIEF HOOKAH SINGLE               814
9  RED WINE SHEESHA                     775

In [123]:
# Food
food_df = pd.DataFrame(food2_top)
food_df.reset_index(level=0, inplace=True)
food_df = food_df.rename(columns={'index':'product', 'Description':'quantity'})
food_df

                          product  quantity
0  POUTINE WITH FRIES                  3464
1  JR.CHL AVALANCHE                    3314
2  PHILLYCREAM CHEESE &CHILLY PAN      1898
3  SR.CHL AVALANCHE                     735
4  NON-VEG CLUB WRAP                    647
5  MEZE PLATTER                         639
6  POUTINE WITH WEDGES                  421
7  VERTIGO                              382
8  CHICKEN SLOUVLAKI WRAP               354
9  SMOKED CHICK & PESTO CREAM CRO       349

In [124]:
# Beverages
beverages_df = pd.DataFrame(beverages2_top)
beverages_df.reset_index(level=0, inplace=True)
beverages_df = beverages_df.rename(columns={'index':'product', 'Description':'quantity'})
beverages_df

                          product  quantity
0  QUA  MINERAL WATER(1000ML)          3331
1  BERRY BLAST                         2031
2  RED BULL ENERGY DRINK               1860
3  COUNTRY LEMONADE                    1813
4  PINK LEMONADE                       1416
5  MIAMI MELONS                        1262
6  RED BULL 2+1                        1167
7  COOL CALIFORNICA                     877
8  QUA  MINERAL WATER(500ML)            833
9  TROPICAL SMOOTHIE                    609

In [125]:
# Beer
beer_df = pd.DataFrame(beer2_top)
beer_df.reset_index(level=0, inplace=True)
beer_df = beer_df.rename(columns={'index':'product', 'Description':'quantity'})
beer_df

                          product  quantity
0  CARLSBERG                           1716
1  TUBORG                              1473
2  KF DRAUGHT (1/2LTR)                 1115
3  KF DRAUGHT (1LTR)                    851
4  KF DRAUGHT PITCHER (2LTR)            469
5  1+1 KF 1/2 LITER                     111
6  BUDWEISER                            100
7  HOEGAARDEN (GLS)                      44
8  1+1 KF 1 LITER                        42
9  HOEGAARDEN MUG (1 LITRE)              42

In [126]:
# Wines
wines_df = pd.DataFrame(wines2_top)
wines_df.reset_index(level=0, inplace=True)
wines_df = wines_df.rename(columns={'index':'product', 'Description':'quantity'})
wines_df

                          product  quantity
0  VLN CAB SAUV (GLS)                   146
1               RED SANGRIA (GLS)        79
2  SULA BLUSH ZINFANDEL(GLS)             72
3  VLN SAUV BLANC (GLS)                  70
4  VLN CHENIN BLANC (GLS)                64
5  1+1 WINE GLASS                        43
6             WHITE SANGRIA (GLS)        41
7  VLN CAB SAUV CLASIQ (GLS)             40
8  SANGRIA ROSE (GLS)                    30
9            RED SANGRIA (CARAFE)        24

In [127]:
#Shakes
shakes_df = pd.DataFrame(shakes2_top)
shakes_df.reset_index(level=0, inplace=True)
shakes_df = shakes_df.rename(columns={'index':'product', 'Description':'quantity'})
shakes_df

                                product  quantity
0  GREAT LAKES SHAKE                         4895
1        OREO COOKIE SHAKE                   1998
2        KIT KAT SHAKE                       1680
3        TOBLERONE SHAKE                     1090
4        THE FERROR ROCHER SHAKE             1030
5        DUTCH TRUFFLE CAKE SHAKE             658
6        SNICKER BAR SHAKE                    586
7        BLUEBERRY BRAIN FREEZER SHAKE        541
8        BLACK FOREST SHAKE                   523
9        LINDT CHOCOLATE SHAKE                475

In [128]:
# Panini
panini_df = pd.DataFrame(panini2_top)
panini_df.reset_index(level=0, inplace=True)
panini_df = panini_df.rename(columns={'index':'product', 'Description':'quantity'})
panini_df

                          product  quantity
0  B.M.T. PANINI                       2724
1  COTTAGE CHEESE PANINI               1644
2  COUNTRY ROAST CHICKEN PANINI        1324
3  GARDEN FRESH PANINI                 1245
4  SATAY CHICKEN PANINI                 987
5  CHICKEN SALAMI PANINI                647
6  MEDITER RANEAN PANINO                378
7  ITALIAN CAPONATA PANINO              214
8  PESCADO PANINO                        54

In [129]:
# Tea
tea_df = pd.DataFrame(tea2_top)
tea_df.reset_index(level=0, inplace=True)
tea_df = tea_df.rename(columns={'index':'product', 'Description':'quantity'})
tea_df

                          product  quantity
0  MOROCCAN MINT TEA                   2257
1  LEMON ICED TEA                      2196
2  STRAWBERRY ICED TEA                  411
3  BLACK CURRANT ICED TEA               392
4  EARL GREY                            180
5  GREEN TEA                            150
6  CHAMOMILE TEA                        126
7  ICED LEMON OR STR CAMOMILE           108
8  ENG BREAKFAST TEA                     86
9  CINNAMON APPLE TEA                    68

In [130]:
# Dessert
dessert_df = pd.DataFrame(dessert2_top)
dessert_df.reset_index(level=0, inplace=True)
dessert_df = dessert_df.rename(columns={'index':'product', 'Description':'quantity'})
dessert_df

                          product  quantity
0  GOOEY CHOCOLATE FUDGE               1170
1  LAVA LAVA                           1002
2  BUN MASKA & CHAI                     537
3            THAT CHOCOLATE THING       523
4  MT. BROWNIE                          483
5  COOKIE MONSTER                       320
6  CLASSIC BELGIAN  WAFFLE              289
7  CHUNKY CHOCO CHIP COOKIES            273
8  CHEESE CAKE OF THE WEEK              235
9  VANILLA ICECREAM                     213

In [131]:
# Coffee
coffee_df = pd.DataFrame(coffee2_top)
coffee_df.reset_index(level=0, inplace=True)
coffee_df = coffee_df.rename(columns={'index':'product', 'Description':'quantity'})
coffee_df

                                product  quantity
0        CAPPUCCINO                          5495
1        MASALA CHAI CUTTING                 2234
2        CAFFE LATTE                         2110
3        DOPPIO                               525
4        ESPRESSO                             518
5        MONSOON MALABAR (REG)                373
6        CHAI LATTE                           366
7        IRISH COFFEE                         354
8  GREAT LAKES FLOATS W CHOC                  300
9  GREAT LAKES FLOAT W VANILLA                286

---

# USE SQL

In [139]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

In [140]:
engine = create_engine("sqlite:///../Cafe/db/cafe_sales.sqlite")

In [141]:
#category_top10.head(4)

In [142]:
category_top10.to_sql(name='category', index=False, con=engine)

In [143]:
tobacco_df.to_sql(name='tobacco', con=engine)
food_df.to_sql(name='food', con=engine)
beverages_df.to_sql(name='beverages', con=engine)
beer_df.to_sql(name='beer', con=engine)
wines_df.to_sql(name='wines', con=engine)
shakes_df.to_sql(name='shakes', con=engine)
panini_df.to_sql(name='panini', con=engine)
tea_df.to_sql(name='tea', con=engine)
dessert_df.to_sql(name='dessert', con=engine)
coffee_df.to_sql(name='coffee', con=engine)

In [82]:
#conn = engine.connect()

In [83]:
#pd.read_sql_table(table_name='category', con=engine).head(1)